[2016-12-06 16:42] mariodivece opened #1 "Add Asynchronous methods to I2C Device Read and Write"
Add Asynchronous methods to I2C Device Read and Write
In addition to this, change the return types from int to byte and when Interpo call returns less than 0 then throw exception with error code.

[2016-12-06 16:42] mariodivece opened #2 "Complete README documentation"
Title self-explanatory

[2016-12-16 14:28] mariodivece opened #3 "Add I2C Device Detection"
Using processhelper, use the output to identify I2C devices

[2016-12-16 14:29] mariodivece opened #4 "Add NetworkInfo Singleton"
NetworkInfo will contain a collection of NetworkAdapters
The ability to programmatically configure adapters (including wireless) will be exposed by this API

[2016-12-16 14:30] mariodivece opened #5 "Add Bluetooth Singleton"
Enable bluetooth manipulation via the Pi API

[2016-12-16 14:31] mariodivece opened #6 "Add HDMI Monitor Support for Brightness and Backlight control"
The DSI display is implemented. Now unify the API by determining monitor type and add methods to control the Brightness and backlight for power saving

[2016-12-16 14:32] mariodivece opened #7 "Veirfy Thread-safety for components (Pi.SyncLock)"
Currenly all method lock using Pi.SyncLock for thread-safety. Use a better thought out approach by really examining what components need to lock against each other.

[2016-12-16 14:34] mariodivece opened #8 "Add Unosquare SWAN library and remove repeated code"
Instead of using parts of SWAN, add it as a dependency to this project and remove repeated code.

[2016-12-16 14:56] mariodivece opened #9 "Asynchronous method support"
Add Async methods to pertinent write/read operations -- mostly related to GPIO

[2016-12-20 05:55] mariodivece opened #10 "Add servo motor support"
It is unclear how pmwm works with current parameters. Change them to get more user friendly pwm and create a servo wrapper

[2016-12-27 17:33] #8 closed

[2016-12-29 00:23] mariodivece commented on #7
Removed unnecessary locking and migrated components to Swan Signletons.

[2016-12-29 00:23] #7 closed

[2017-02-02 20:07] edmundormz opened #11 "RetrieveWirelessNetworks retrieving wrong network security"
I wasn't able to detect the reason for this issue. When running Playground on rasp no password is required for secured networks, especially for Unosquare Mobiles.

At same time, ran "iwlist wlan0 scanning" which retrieves that network as secured.

This is a recurrent problem when using the wifi-connection assistant of AccessCore, sometimes it does not ask for password trying to connect to Unosquar

[2017-06-28 00:40] VladimirAkopyan opened #13 ".Net Core ok?"
Sorry for the stupid question, but does this support .net core?

[2017-06-28 01:46] geoperez commented on #13
Hi, yes it is compatible with netstandard1.6.

[2017-07-01 12:01] VladimirAkopyan commented on #13
Cool, thanks!

[2017-09-23 19:24] PeteCozens opened #14 ".Net Core 2.0 on Win 10 IoT Supported?"
I'm writing a .Net Core 2.0 Console App (not UWP) to control some external devices on a Raspberry Pi 3. Does RaspberryIO support this?

I've added the NuGet package  to my console app and added the following code to void main() to turn on a LED on pin 5:

var pin = Pi.Gpio.Pin05;
pin.PinMode = GpioPinDriveMode.Output;
pin.Write(true);

When stepping over the first line I get a System.TypeInitializ

[2017-09-25 13:31] geoperez commented on #14
Hi, this library is not supported by Windows IoT since we rely on WiringPi and Linux device files.

The support to Win IoT is not yet on schedule.

[2017-09-25 13:31] #14 closed

[2017-09-25 13:31] #13 closed

[2017-09-25 13:31] geoperez commented on #11
Already resolved.

[2017-09-25 13:31] #11 closed

[2017-09-26 15:40] edmundormz commented on #11
Good to know. Is this project still alive or already running?

Best regards to everybody at UnoLbas, miss you guys

[2017-09-26 15:41] geoperez commented on #11
It's alive as Nestor! xD

[2017-12-14 22:03] jpalcala opened #17 "Issue09-UpdateSshDeploy"

[2017-12-21 20:59] ArCiGoUnoSquare opened #21 "Update wiringPi to to v. 2.44 (Currently 2.42)"
Update wiringPi to v. 2.44

[2017-12-29 13:01] geoperez commented on #17
Status?

[2017-12-29 15:49] jpalcala commented on #17
Done

[2017-12-29 15:49] #17 closed

[2018-01-03 11:56] FrankDoersam commented on #4
that would be fantastic!

[2018-01-03 14:25] geoperez commented on #4
We already have some functionality in the [`NetworkSettings ` class](https://unosquare.github.io/raspberryio/api/Unosquare.RaspberryIO.Computer.NetworkSettings.html).

[2018-01-03 18:06] FrankDoersam commented on #4
thank you!

[2018-01-03 18:07] FrankDoersam opened #24 "Z-Wave functionality"
Hello,

is it possible to address a z-wave usb stick in .net core? :)

Best regards

[2018-01-03 19:28] geoperez commented on #24
Can you explain a little bit more? Do you know any SDK or library using that hardware?

[2018-01-03 19:35] FrankDoersam commented on #24
A reference libary witch use mono:
https://github.com/roblans/ZWave4Net

[2018-01-03 19:41] geoperez commented on #24
I think it may run with Net Core 2. I didn't see something missing for .NET Standard libs. You may ask them if they have plans to support it.

[2018-01-03 22:24] FrankDoersam opened #25 "Shutdown|Restart"
Hey,
i would miss an Interface to restart and shutdown the device.
Could you implement that in this fantastic library :)

Best regards
Frank

[2018-01-04 21:12] mariodivece commented on #25
Why not use the built-in SWAN ProcessRunner? just do something like:

[code]

It would be certainly nice to implement these methods as:
[code]

https://github.com/unosquare/swan#the-processrunner-class
https://unosquare.github.io/swan/api/Unosquare.Swan.Components.ProcessRunner.html

[2018-01-04 21:15] mariodivece commented on #21
Good call

[2018-01-04 22:29] mariodivece commented on #25
This is now implemented in the latest commit. Reopen if the methods have issues or don't work.

[2018-01-04 22:29] #25 closed

[2018-01-04 22:38] FrankDoersam commented on #25
Thank you for the fast and courteous support. The team is great!

[2018-02-02 20:05] #24 closed

[2018-02-18 14:39] hidegh opened #29 "Callback executed multiple times and upon exit a wait for a callback prevents app from quitting..."
I've created a sample project for ELECROW shield. 2 leds (one blinking) second turned on/off by button pressing down. It's a .NET standard 2.0 library running on Raspbian (sudo is needed)...

Now there are 2 issues:

1. one is that the button press event (even if it should react on one edge, even if it's hold down for a longer period) does execute the **callback multiple times** (sometimes) and mu

[2018-02-18 14:42] hidegh commented on #5
Just a question: why stick with singleton? Worst pattern to exist, especially with dependency injection. And on low level nothing prevents the user to create a global variable and or create custom static implementation with all the wiring needed - and store the result in a global variable...

I do understand that programming against one GPIO makes this static/singleton sound reasonable, but using

[2018-02-28 21:30] robertsundstrom opened #30 "Add RFID module support"
Add support for RFID modules that are using SPI for communication, such as RC522.

Code could simply be ported from C++, Python or Java. See here: https://github.com/maxpowel/RFID522

[2018-02-28 21:38] geoperez commented on #30
Hi @robertsundstrom , thank you for the suggestion. We are not adding new features for now, but we are always open to new PRs.

[2018-02-28 21:46] robertsundstrom commented on #30
OK. I did start implement it myself a while ago. Never got it to work and then stopped. I could upload it to GitHub and someone else could give me hints.

[2018-02-28 21:46] geoperez commented on #30
Sure 👍

[2018-02-28 21:48] robertsundstrom commented on #30
Great! I’ll do it tomorrow.

Descarga Outlook para iOS<https://aka.ms/o0ukef>
________________________________
From: Geovanni Perez <notifications@github.com>
Sent: Wednesday, February 28, 2018 10:46:33 PM
To: unosquare/raspberryio
Cc: Robert Sundström; Mention
Subject: Re: [unosquare/raspberryio] Add RFID module support (#30)

Sure 👍

—
You are receiving this because you were mentioned.
Reply to

[2018-03-03 10:49] robertsundstrom commented on #30
Here is my class: https://github.com/robertsundstrom/IotCamera/blob/develop/src/Components/MFRC522.cs

The program is here:
https://github.com/robertsundstrom/IotCamera/blob/develop/src/IotCamera/Program.cs

[2018-03-05 17:17] geoperez commented on #5
@hidegh the idea behind the singleton is just to keep a single entry point for that particular API. The API is not completed, but you can see something here:

https://github.com/unosquare/raspberryio/blob/Bluetooth/src/Unosquare.RaspberryIO/Bluetooth/BluetoothController.cs

[2018-03-06 15:16] geoperez commented on #30
Opening branch to integrate changes to Unosquare.RaspberryIO.Peripherals project.

[2018-03-06 15:44] geoperez commented on #30
@robertsundstrom I was able to port your code, you can return multiples values with C# (are you a python dev?). Anyway, try to clone the repo at https://github.com/unosquare/raspberryio/tree/Issue30-AddRFIDModule

Then uncomment the following line to test:

https://github.com/unosquare/raspberryio/blob/Issue30-AddRFIDModule/src/Unosquare.RaspberryIO.Playground/Program.cs#L29

I don't have the hard

[2018-03-06 16:49] robertsundstrom commented on #30
No. I’m a C# developer. I used ValueTuple and the new tuple syntax that is present in the latest stable version of the language. I see you switched them out for the old Tuple type.

https://docs.microsoft.com/en-us/dotnet/csharp/tuples

Sure, I’ll try it.

[2018-03-06 16:50] geoperez commented on #30
For a moment I think it was code ported from Python. We are using C# 7.1 for compatibility.

[2018-03-06 16:52] robertsundstrom commented on #30
OK. ValueTuples are part of C# 7.1: https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-7-1

[2018-03-06 16:53] geoperez commented on #30
Wow, I didn't know that. Maybe I didn't switch to 7.1 this project. Good to know 👍

[2018-03-06 16:54] robertsundstrom commented on #30
👍

[2018-03-06 16:56] robertsundstrom commented on #30
I should have written that it was a port FROM Java and Python.

[2018-03-10 19:51] robertsundstrom commented on #30
I downloaded the code. Restored the thing with ValueTuples.

Published the Playground code with SSHDeploy, and it does not invoke Tag(). It just exits the program.

[2018-03-10 19:56] robertsundstrom commented on #30
Removed some of the stuff around (the Terminal stuff), and then I get the exception. I forgot to run as ```sudo```.

The Mfrc522Controller does not seem to work either.

[2018-03-10 20:06] robertsundstrom commented on #30
I've tried various apps for reading card data with my setup. The ones written for NodeJS have failed. Anyway, If I follow this guide for Python it all works:

http://www.instructables.com/id/RFID-RC522-Raspberry-Pi/

I'm a novice when its comes to SPI, so I can't immediately spot the difference. I'll look into it more.

[2018-03-10 20:42] robertsundstrom commented on #30
Found the problem:

No command was sent in: (byte, int) Request(byte reqMode)

[code]

Method:

[code]

[2018-03-10 21:11] robertsundstrom commented on #30
My changes are in PR #31

[2018-03-11 12:13] robertsundstrom commented on #30
What is the next step for this? Is there any additional changes in design or testing to be done?

[2018-03-11 15:05] geoperez commented on #30
I will fix the Travis build and then merge. Should we release a peripherals
nuget?

On Mar 11, 2018 6:13 AM, "Robert Sundström" <notifications@github.com>
wrote:

[2018-03-11 15:54] robertsundstrom commented on #30
@geoperez It would be great if you did. Thanks.

[2018-03-11 15:56] robertsundstrom commented on #30
BW. This is my test project using ASP.NET Core: https://www.youtube.com/watch?v=s9pwgTyIoPg&t=10s&list=PLLBU--06ftFotvv3nwtm0dZxR-xu0i2-u&index=4

[2018-03-11 20:48] mariodivece commented on #21
This is completed. Will be available in the next NuGet release.

[2018-03-11 20:48] #21 closed

[2018-03-16 18:58] geoperez commented on #30
Hey @robertsundstrom , we did some changes in the master branch. Can you try your RFID module again?

[2018-03-17 13:25] robertsundstrom commented on #30
@geoperez Btw. Do you know why the libwiringpi DLL cannot be loaded when I run after having deployed? It does not seem to be extracted either. Is that because of the change?

[2018-03-17 13:33] robertsundstrom opened #34 "Add Component: Button"
I have a component that could be something to consider for Peripherals:

[code]

It could be further improved, and rather than the unsuitable “Click” event there would be “Pressed” and “Released”.

[2018-03-18 19:08] robertsundstrom commented on #34
My improved Button class:

[code]

Test:

[code]

[2018-03-19 15:45] oldmanukko commented on #30
so so happy to see this is happening. i am new to electronics (2-3 days) and hope to get an RFID reader/writer going. i found C code and can follow that easy enough. but, would like to be able to stick to C# for now to get my project done.

/following

[2018-03-19 18:49] robertsundstrom commented on #30
@geoperez It does not work after the restructuring. It detects the card, but I cannot read the UID.

[2018-03-19 18:51] robertsundstrom commented on #30
@oldmanukko I recommend you to have a look at this: https://github.com/robertsundstrom/dotnet-rpi-playground/blob/master/Services/Mfrc522Controller.cs

It is the original and it works

[2018-03-19 23:18] oldmanukko commented on #30
@robertsundstrom thanks much! i will check it out.

[2018-03-20 21:31] geoperez commented on #30
It's happening to us too. We didn't change anything in the resources class. After running the application, the second time it's working fine.

[2018-03-20 21:32] geoperez commented on #30
@mariodivece

"It does not work after the restructuring. It detects the card, but cannot read the UID."

[2018-03-20 22:18] geoperez commented on #34
I'm going to integrate it

[2018-03-20 22:37] geoperez commented on #34
https://github.com/unosquare/raspberryio/commit/f2f546438b7e674964c3f0a928ac6cbefefd6e0b

[2018-03-21 22:05] geoperez opened #35 "Embedded resources are failing to load"

[2018-03-21 22:29] geoperez commented on #35
I'm not able to reproduce:

![image](https://user-images.githubusercontent.com/1775792/37740907-07ea2ee4-2d25-11e8-9cfc-a6f1515bb1cb.png)

[2018-03-21 22:30] geoperez commented on #30
@robertsundstrom can you test my branch pre-0.14.0 and verify the embedded resources are extracted correctly? I can no longer reproduce it

[2018-03-21 23:02] geoperez commented on #35
@mariodivece can you test my branch?

[2018-03-23 16:07] pmeloy opened #36 "i2c add device typeinitialization exception"
Making my first attempt using this library and it's not going well. I don't know if its because of the lack of examples or if something is actually wrong.

Using VS2015 with Raspberry Pi3 and Raspbian Stretch with wiringpi enabled and RaspberryIO installed by Nuget two days ago.
My code:
`
using Unosquare.RaspberryIO;
.....
	class BMP180
	{
		public BMP180(int address)
		{
			try
			{
				var BMP1

[2018-03-23 16:08] geoperez commented on #36
Can you post the stacktrace?

[2018-03-23 16:12] pmeloy commented on #36
System.TypeInitializationException: The type initializer for 'Unosquare.RaspberryIO.Pi' threw an exception. ---> System.TypeLoadException: Could not resolve type with token 01000043 (from typeref, class/assembly Unosquare.Swan.ReflectionExtensions, Unosquare.Swan, Version=0.18.0.0, Culture=neutral, PublicKeyToken=null)
  at Unosquare.RaspberryIO.Pi..cctor () [0x0002e] in <24c16b38f03d4d8384ee43863

[2018-03-23 16:14] pmeloy commented on #36
This would probably be self evident if I could run/debug from VS rather than build from VS then run from Pi.

[2018-03-23 16:45] geoperez commented on #36
What version are you using? If you are using Unosquare.Raspberry.IO 0.13.0 please downgrade SWAN to 0.16.0.

[2018-03-23 18:37] pmeloy commented on #36
Nuget on the RPi doesn't seem to have a way to list installed packages or a downgrade option or even an uninstall. Tried from VS and it seems to be doing things but it's still on the RPi.

Can't believe they'd have an RPi Nuget with no way to list or remove packages. Guess its time to wipe the SD card and start from scratch.

[2018-03-23 20:45] pmeloy commented on #36
No good. It is IO 0.13 and Swan 0.16 but still the same error.

[2018-03-26 05:02] mariodivece opened #37 "Migrate from WiringPi to PiGpio"
The PiGPIO Library is much better and provides hardware-assisted PWM on all pins.
Reference: http://abyz.me.uk/rpi/pigpio/cif.html

[2018-03-26 09:31] pierslawson opened #38 "No call backs whilst capturing video"
I'm trying out your library on a RPi B. Communicating with the GPIO pins seems to work great. I could also capture an image fine. However when I was trying to capture video, nothing was captured. If I set CaptureDisplayPreview = true, the preview window does not open. I wrote a little python script to capture video that seemed to work fine, so I'm fairly sure the camera is working.

Do you have an

[2018-03-28 02:16] #34 closed

[2018-03-31 14:23] SVLubin opened #40 "Type initialization exeption"
Hi, I am trying to use your library for camera image capturing. I added it from nuget, added references to dll and paste this example code:
[code]
But after running in Raspberry Pi 3 Model B with mono version 4.6.2, I got this:
[code]
Help please =)

[2018-04-02 00:21] geoperez commented on #38
I noticed the issue too, let me see what's going on.

[2018-04-02 15:27] geoperez commented on #40
Hello,

Try to update your nuget to version 0.14.0, please.

[2018-04-02 15:28] geoperez commented on #36
Hello,

Try to update your nuget to version 0.14.0, please.

[2018-04-02 18:31] SVLubin commented on #40
Now it works, thank you!

[2018-04-02 18:31] #40 closed

[2018-04-06 19:49] #30 closed

[2018-04-06 20:03] geoperez commented on #38
Playground output

[code]

[2018-04-08 14:24] pierslawson commented on #38
A minor fix to your code above, it should be a ReadLine after the "Press any key..." line:
[code]
I used your code and started receiving call backs. However, a second run of the program didn't get callbacks. Perhaps the code does not release the camera correctly? If I reboot the RPi, then the first run works, but subsequent runs fail to get callbacks. Any ideas?

[2018-04-09 18:45] geoperez commented on #38
Internally we call `raspivid` then when the `CloseVideoStream` is called we interrupt the `raspivid` process.

I was not able to reproduce the issue. After pressing any key the raspivid process is no longer there. It took a little bit to close.

[2018-04-10 13:41] pierslawson commented on #38
How long did you wait for raspivid to close? For me it was still running about ten minutes later. I've attached a screenshot of the htop output which shows raspivid is still running waiting on an event.
![image](https://user-images.githubusercontent.com/792983/38559937-549a555a-3ccc-11e8-9349-41f91aaf2530.png)

[2018-04-10 13:53] pierslawson commented on #38
Sorry closed it by mistake... still a problem for me.

[2018-04-10 14:03] pierslawson commented on #38
If I run htop as super user I can use it to send a SIGINT to the raspivid process and then it shuts down. Is it perhaps a permission thing could be stopping the ```ClosevideoStream``` from working... though I'm running my application using:
[code]

[2018-04-10 14:57] geoperez commented on #38
My raspi is just taking some seconds to close raspivid. If you run raspivid
manually it has the same behavior?

On Tue, Apr 10, 2018, 8:41 AM Piers Lawson <notifications@github.com> wrote:

[2018-04-10 16:05] pierslawson commented on #38
If I just run `raspivid -o test.mpg -n` I see it appear in htop then disappear... but then I presume it is just closing itself as its 5 second default timeout is reached. The application sets an infinite timeout, so a different mechanism is being used to close the application.

[2018-04-10 17:15] geoperez commented on #38
You need to output to the console. Something like this:

`raspivid -o - -t 0 -w 1920 -h 1080 -n -ex night -vf -pf main -b 0 -fps 25 -g 25 -qp 23 -ih`

[2018-04-10 17:35] pierslawson commented on #38
So if I run your command I see a stream of garbage in the terminal (which I guess is to be expected) then pressing CTRL+C aborts the program. Whilst the program is running I see the entries in htop and when I have pressed CTRL+C they disappear from htop.

Is that the test you wanted me to do?

[2018-04-10 18:10] geoperez commented on #38
Yes. It's odd, but this exactly that RaspberryIO is doing internally.

On Tue, Apr 10, 2018 at 12:35 PM, Piers Lawson <notifications@github.com>
wrote:

--
Geo Pérez

[2018-04-13 18:11] tylerl0706 commented on #14
Just wanted to chime in here and say that the PowerShell team is using this package in:

https://github.com/PowerShell/PowerShell-IoT

😄

It's been awesome so far for our Raspbian PowerShell Core users. It'd be really cool if raspberryio could support Win IoT.

[2018-04-15 18:39] RunnicFusion opened #42 ">.net standard class library"
It's not possible to use the Raspberry.io inside .net standard 2.0. Nuget package will install but gives errors when debugging.

How to fix this?

[2018-04-16 14:11] RunnicFusion commented on #42
.net core says:

System.TypeInitializationException: The type initializer for
'Unosquare.RaspberryIO.Pi' threw an exception. --->
System.Reflection.TargetInvocationException: Exception has been thrown by
the target of an invocation. --->
System.PlatformNotSupportedException: This library does not support the
platform
   at Unosquare.RaspberryIO.Gpio.GpioController.Initialize(ControllerMode
mode)

[2018-04-16 14:18] geoperez commented on #42
Are you trying to run the app in Windows or MacOs?

On Mon, Apr 16, 2018 at 9:15 AM, Runnicfusion <notifications@github.com>
wrote:

--
Geo Pérez

[2018-04-16 14:46] RunnicFusion commented on #42
Hi,

Windows Iot 9latest build), developing torugh Visual Studio 2017.
.net core 2.0

Met vriendelijke groet,

Roy Wagemakers

2018-04-16 16:22 GMT+02:00 Geovanni Perez <notifications@github.com>:

[2018-04-16 14:55] RunnicFusion commented on #42
Hi,

I installed the release 2.0.x for arm 32 windows on the pi from here:
https://github.com/dotnet/core-setup/tree/master

Met vriendelijke groet,

Roy Wagemakers

2018-04-16 16:46 GMT+02:00 Roy Wagemakers <roywagemakers@gmail.com>:

[2018-04-16 15:05] geoperez commented on #42
Please check issue #14

[2018-04-16 15:05] #42 closed

[2018-04-17 21:47] geoperez commented on #38
@Israel-94 can you create a new branch and return the CT to OpenVideoStream and test.

[2018-04-17 21:48] geoperez commented on #36
@pmeloy ??

[2018-04-17 21:49] geoperez commented on #4
@mariodivece what else would you need?

[2018-04-18 11:43] forki commented on #38
is there a more complete sample that shows how to save the video or transfer it somewhere useful?

[2018-04-18 16:28] forki commented on #38
Yes was just hoping you could expand it to show how to save it properly or how to stream it somewhere properly. Current it's just a buffer and I'm not sure what I want to do next.

[2018-04-18 18:33] geoperez commented on #38
You can use FileStream to open a file and then call the Write method (
https://msdn.microsoft.com/en-us/library/system.io.filestream.write(v=vs.110).aspx
)

On Wed, Apr 18, 2018 at 11:28 AM, Steffen Forkmann <notifications@github.com

--
Geo Pérez

[2018-04-19 08:08] forki opened #44 "Turn off lights on program crash"
I'm using this nice lib to control couple of LEDs via GPIO. Unfortunately sometimes my dotnet core program gets killed (there are good reasons for that) and the lights are still on.
Any ideas on how to configure it so that they are only on as long as my program lives?

[2018-04-19 10:15] forki opened #46 "Support remove_event_detect"
Since you allow to register callbacks. can you please implement GPIO.remove_event_detect(port_number)?

[2018-04-19 12:15] RunnicFusion commented on #42
Thanks for the reply. But i'm using .net core console application, which is running trough powershel on my rasberry pi 3b.
I can control the gpio the way it should but i also need access to my camera module (and later rfid reader).

Your github repo say's:
" The Raspberry Pi's IO Functionality in an easy-to-use API for .NET (Mono/.NET Core). Our mission is to make .NET a first-class citizen in the

[2018-04-19 13:26] geoperez commented on #42
How are you getting access to the GPIO? Using this powershell module https://github.com/PowerShell/PowerShell-IoT?

[2018-04-19 13:31] geoperez commented on #46
cc @mariodivece

[2018-04-19 14:07] RunnicFusion commented on #42
No, doing it this way:

gpio = GpioController.GetDefault();

var pin = gpio.OpenPin(4, GpioSharingMode.Exclusive);
pin.SetDriveMode(GpioPinDriveMode.Output);

From the Windows.Devices.DevicesLowLevelContract assembly.

[2018-04-19 22:43] mariodivece commented on #38
Maybe we should kill the `raspivid` process by sending a Unix Signal?
https://github.com/unosquare/pigpio-dotnet/blob/master/Unosquare.PiGpio/NativeMethods/Utilities.cs#L217

RaiseSignal(2) is equivalent to Ctrl-C

[2018-04-19 22:55] mariodivece commented on #10
https://mariodivece.com/blog/2018/03/21/rpi-pwm-demystified

[2018-04-19 23:06] mariodivece commented on #4
I think we are good to go. CLosing!

[2018-04-19 23:06] #4 closed

[2018-04-19 23:47] ajbeaven opened #47 "GpioPin.RegisterInterruptCallback doesn't update /sys/class/gpio/gpioN/edge"
After running the following code, I would expect that `/sys/class/gpio/gpio20/edge` would contain `falling` but instead it seems to be `none`.

[code]

Is it expected that I set `/sys/class/gpio/gpio20/edge` or should that be handled by this library? I find that only when I manually set it that the callback starts being fired.

I'm also finding I have to manually export the above pin before writin

[2018-04-20 00:29] mariodivece commented on #46
I am looking at the code and I see no way of REMOVING the interrupt in WiringPi... Maybe a call to REPLACE the interrupt with an empty function would work?

[2018-04-20 00:30] mariodivece commented on #46
I found this but it just feels "wrong"... https://www.raspberrypi.org/forums/viewtopic.php?t=41536

[2018-04-24 22:50] Israel-94 commented on #38
@pierslawson Could you check the [branch](https://github.com/unosquare/raspberryio/tree/Issue38-CTToOpenVideoStream) and tell us if the problem is resolve

[2018-04-26 20:42] pierslawson commented on #38
I took a copy of that branch and built it locally, then referenced the local copy of the project from my own project (instead of using the nuget package). I still get the same problem.

Can I check... the fix you have tried does not require me to change any of my code does it? As far as i can see the only difference is that the Unosquare.Swan.Lite.dll is now 0.29. The Unosquare.Swan.dll is still 0

[2018-04-26 21:15] Israel-94 commented on #38
@pierslawson I added the cancellation token to the `OpenVideoStream()` task, so when you call the ` Pi.Camera.CloseVideoStream()` it should now stop the task and kill the `raspivid `process. Could you paste the code where you use the PI.Camera to check it out?

[2018-04-29 19:00] pierslawson commented on #38
Here it is:
[code]

[2018-05-03 20:26] Israel-94 commented on #38
@pierslawson @ianByrne Made some changes, the `raspivid ` should be killed after the `CloseVideoStream` is called, and the callback when reopening the `VideoStreamOpen` should receive data now.

[2018-05-04 16:58] ianByrne commented on #38
Thanks @Israel-94 , this seems to now resolve my issue.

[2018-05-04 17:28] geoperez commented on #38
@pierslawson can you check it?

[2018-05-04 20:28] pierslawson commented on #38
raspivid is still executing after my application exits. If I put a `Thread.Sleep(1000);` before my program exits, raspivid is closed down correctly and I run my program again.

It looks to me like the cancellation needs to wait for the signal to have been sent rather than immediately returning.

[2018-05-08 18:48] Israel-94 commented on #38
@pierslawson, I made a change to the video task, now It's going to be waited to finish and kill the `raspivid` process, Could you test to see if the issue is resolved?

[2018-05-09 21:31] pierslawson commented on #38
At first I didn't think it was working because I wasn't seeing the raspivid process starting at all. But when I increased the time it was recording from 3 seconds to 10 seconds I did see data starting to be captured... and when I ran for 20 seconds I saw the raspivid running in htop... and closing down correctly.

So you appear to have solved the shutdown issue, though it now appears to take longe

[2018-05-09 21:34] geoperez commented on #38
How much longer? @Israel-94 did you notice this behavior?

[2018-05-09 22:04] Israel-94 commented on #38
@pierslawson @geoperez No, I did not, that's not happening on our side
Here are some tests, and the raspivid process open and closes well

![first-test](https://user-images.githubusercontent.com/15115333/39841989-633f64ac-53aa-11e8-9986-6cf89ca69bb3.PNG)

![second-test](https://user-images.githubusercontent.com/15115333/39841995-683a15f6-53aa-11e8-9cd9-32261f088472.PNG)

[2018-05-09 22:04] pierslawson commented on #38
I will try to revert the code and find out how long it used to take.

[2018-05-09 22:25] pierslawson commented on #38
I reverted the code... when using the older version of swan (0.29) the time to first capture was always 2.2 seconds. With your latest code (which uses swan 0.30) the time to first capture was always 3.2 seconds.

[2018-05-09 22:33] pierslawson commented on #38
When not running under a debugger, time to first capture (using swan 0.29) is 1.8 seconds.

[2018-05-10 08:35] michaeldimoudis opened #49 "Issue with TemperatureSensorAM2302 on May 27 commit"
Hi there, firstly thanks for this great library.

I'm using the TemperatureSensorAM2302, even though it's not that accurate it used to work. The update on May 27 https://github.com/unosquare/raspberryio/commit/880ec2c138f159a2e2c9869306fe01ec2b011151 broke it. Reverting back to before that commit still works for me.

The error on a RaspberryPi running Raspbian .NET Core 2.0.7 is:

[code]

[2018-05-10 12:44] geoperez commented on #49
Cc @mariodivece

[2018-05-10 19:10] pierslawson commented on #38
If I take the latest code in branch Issue38-CTToOpenVideoStream and change it to reference swan 0.29 (rather than swan 0.30) my code speeds up again, taking 2.2 seconds to get the first data back from raspivid (under the debugger). However, that also reintroduces the issue whereby raspivid does not shut down.

[2018-05-10 20:33] Israel-94 commented on #38
@pierslawson The swan updated should not affect the raspberryio code, it just changes two lines to correct use one method, The change that really matters is the one that waits to the task to finish and kill the `raspivid` process and then continue the execution or stop the program

[2018-05-17 11:19] lawzla opened #50 "Initialise GpioController with user selectable ControllerMode"
**Is your feature request related to a problem? Please describe.**
Would be beneficial to allow app to use GPIO without root permissions. For example GPIO control from a asp. net core application.

**Describe the solution you'd like**
Have the availability to set `ControllerMode.FileStreamWithHardwarePins` when  GpioController is initalised.

[2018-05-17 14:13] geoperez commented on #38
Ok let me perform some testing on my end.

[2018-05-21 20:35] ianByrne commented on #38
@geoperez @Israel-94 do you have any ETA of when these fixes will be pulled into an official release? Particularly the one with raspivid not restarting after stopping/starting the stream.

[2018-05-21 20:46] geoperez commented on #38
Not really, I need some time to reproduce the same steps described by @pierslawson

Do you have any similar issue with the timing?

[2018-05-21 20:53] ianByrne commented on #38
I have not experienced any noticeable changes in timing between master and the branch, but I'm afraid I have not been looking out for it either.

[2018-06-02 16:02] techyian commented on #29
Hi, any update on this?

Thanks.

[2018-06-02 16:28] geoperez commented on #29
Not really, we have been busy with other projects. But pull requests are always welcome.

[2018-06-13 03:53] mbazzo opened #51 "Help with pca9685"
I am trying to make commands via i2c, but I can not identify the deviceid. I would like to control servos using pca9685.

[2018-06-13 18:11] k3z0 opened #52 "RFID is not working properly"
**Describe the bug**
RFID controller is not working properly, it doesn't detect rfid devices, if it does, it can rarely read it´s info.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup RaspberryPI with RFID-RC522 ([more info](https://pimylifeup.com/raspberry-pi-rfid-rc522/))
2. Setup Unosquare.RaspberryIO.Playgroung to run Rfid test.
3. Deploy Unosquare.RaspberryIO.Playgroung to the Ras

[2018-06-13 18:57] geoperez commented on #30
Issue #52

[2018-06-13 19:09] k3z0 commented on #52
It seem that the bug is caused by a misunderstanding in python code migration:

This code in Python:
[code]

Is not equivalent to this code in C#:
[code]

**Resources:**
Original [MFRC522-Python](https://github.com/mxgxw/MFRC522-python)
Modified [MFRC522-Python](https://github.com/pimylifeup/MFRC522-python)

[2018-06-14 12:55] geoperez commented on #51
Hi, I'm not familiar with that board, but maybe you can post your source code here and see if anyone else give you some advice.

BTW I received your email, please keep posting on this thread because it's easier to keep track.

[2018-06-14 21:23] geoperez opened #53 "sshdeploy documentation is outdated"
**Describe the bug**
Please update the documentation to use sshdeploy as global tool.

[2018-06-14 22:17] #52 closed

[2018-06-14 23:36] i9connect commented on #51
I would like to know if you can help me by using a feature of your code.
It's about i2c.

I have a PCA9685 connected to my raspberry, but at startup, it asks DeviceId.

I searched a lot before, but found no alternative to get the value.

When you run the i2cdetect -y command 1, the following value is returned:
0 1 2 3 4 5 6 7 8 9 a b c e f
00 - - - - - - - - - - - - - - -
10: - - - - - - - - - - -

[2018-06-14 23:53] geoperez commented on #51
Cc @mariodivece

[2018-06-18 19:29] i9connect commented on #51
News?

[2018-06-20 21:36] #53 closed

[2018-06-26 15:43] Israel-94 commented on #38
New release of [RaspberryIO](https://www.nuget.org/packages/Unosquare.Raspberry.IO/), closing issue

[2018-06-26 15:43] #38 closed

[2018-07-07 11:15] Zeni241 opened #57 "Does this library support asp.net core 2.1?"
As I am getting bellow error as I reach sample code line in visual studio 2017.
 ` var blinkingPin = Pi.Gpio[0];`
{System.TypeInitializationException: The type initializer for 'Unosquare.RaspberryIO.Pi' threw an exception. ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.PlatformNotSupportedException: This library does not supp

[2018-07-07 13:20] geoperez commented on #57
Hi, that's because you need to run your app as admin under Linux. What
environment are you using?

On Sat, Jul 7, 2018, 6:15 AM Zeni241 <notifications@github.com> wrote:

[2018-07-08 05:21] Zeni241 commented on #57
Hi
Thanks for reply. I am debugging the app in VS2017 on Windows 10. I want to put my app (along with this library) on raspberry Pi finally. Do I have to publish it there for this library to work?

[2018-07-08 12:44] geoperez commented on #57
Yes, you need to publish and copy the folder to your raspberry pi. You
can't debug with Windows, we have no way to emulate hardware like GPIO
inside Windows.

On Sun, Jul 8, 2018, 12:21 AM Zeni241 <notifications@github.com> wrote:

[2018-07-09 07:14] Zeni241 commented on #57
Thanks a lot and good luck with your great work.

[2018-07-09 09:21] robertsundstrom opened #58 "Move WiringPi wrappers to its own project and NuGet package"
I think that the WiringPi library wrappers should be placed in their own project and distributed as it's own NuGet package on which the actual RaspberryIO depends.

This would be great for those who would just want to use the wrapper.

Proposed package name: ```Unosquare.WiringPi```

[2018-07-09 12:55] geoperez commented on #58
Any specific reason for that?

On Mon, Jul 9, 2018, 4:21 AM Robert Sundström <notifications@github.com>
wrote:

[2018-07-09 12:59] robertsundstrom commented on #58
@geoperez, I later updated the issue by adding the reason:

This would be great for those who would just want to use the wrapper (pure WiringPi functions)

[2018-07-09 15:13] geoperez commented on #58
We agree with that approach, in fact we are looking for support other
library (Pigpio https://github.com/unosquare/pigpio-dotnet). And the
ultimate goal is expose a public api to allow use any wrapper-connector,
but we have no enough time to achieve it right now.

On Mon, Jul 9, 2018, 7:59 AM Robert Sundström <notifications@github.com>
wrote:

[2018-07-11 18:29] berknam opened #59 "root privileges not required"
**Is your feature request related to a problem? Please describe.**
Currently the GPIO requires root privileges, but since this is using wiringPi and it no longer requires root privileges this shouldn't require them either.

**Describe the solution you'd like**
The GPIO shouldn't require root privileges.

**Describe alternatives you've considered**
I've tested removing the "IsRunningAsRoot" check b

[2018-07-11 21:18] geoperez commented on #59
@Israel-94 can you remove the check and test the playground with GPIO?

[2018-07-11 21:19] #57 closed

[2018-07-12 14:48] Israel-94 commented on #59
@geoperez sure

[2018-07-12 18:11] Israel-94 commented on #59
@berknam There is a new release, you can check it out [here](https://www.nuget.org/packages/Unosquare.Raspberry.IO/)

[2018-07-12 18:44] geoperez commented on #50
You can run without root at [Version 0.16.0}(https://www.nuget.org/packages/Unosquare.Raspberry.IO/0.16.0).

[2018-07-15 20:31] MoppleTheWhale opened #61 "Cannot catch HardwareException upon I2C Access to not Connected Device"
Hi,

I am accessing a PCF8574 I/O expander via I2C on a Raspbeery Pi. No problem, as long as the I/O expander is connected to the I2C bus. However, when it is not connected, the program crashes, although I am trying to catch the relevant exceptions.

I am using Visual Studio 2017, .Net 4.5.2, Unosquare.Raspberry.IO 0.15.1 and Unosquare.Swan 0.32.2, mono 4.6.2 and Raspbian 4.14.50.

The relevant co

[2018-07-15 20:54] geoperez commented on #59
Closing.

[2018-07-15 20:54] #59 closed

[2018-07-15 20:54] geoperez commented on #50
Closing.

[2018-07-15 20:54] #50 closed

[2018-07-15 23:38] ggriffon opened #62 "libwiringPi.so exception"
Hi,
I am having this issue while using the PI GPIO :
System.DllNotFoundException: Unable to load shared library 'libwiringPi.so.2.46'

Full exception :

`connection id "0HLFAL62TEK7E", Request id "0HLFAL62TEK7E:00000002": An unhandled exception was thrown by the application.
System.TypeInitializationException: The type initializer for 'Unosquare.RaspberryIO.Pi' threw an exception. ---> System.Refl

[2018-07-16 14:08] geoperez commented on #62
Usually, the file `libwiringPi.so.2.46` is extracted from RaspberyIO and stored in the same path as your binary. Maybe a permission issue? What OS are you using?

[2018-07-16 14:10] geoperez commented on #61
The `HardwareException` is thrown when the native code (wiringPi) is not able to connect to a device. The exception in the HardwareException constructor in the other hand, it's not clear why is happening. I need to review it.

[2018-07-16 17:49] MoppleTheWhale commented on #61
Thank you!

[2018-07-16 21:37] geoperez commented on #61
Related issue with Mono (https://github.com/mono/mono/issues/9532)

[2018-07-17 15:46] geoperez commented on #61
Can you upgrade to version 0.17.0 (https://www.nuget.org/packages/Unosquare.Raspberry.IO/0.17.0)?

[2018-07-18 13:52] Syndlex commented on #62
I have the same problem. I could fix it with compiling the wiringPi.so from source and move it to the dir with the binary’s.
Now I get the Error from WiringPi on stdout: `wiringPiISR: Can't find gpio program`

I am using the dotnet Standard version of the Lib.
I am using the newest 0.17.0 version from nuget
To Compile I use the crosscompiler from dotnet core.
The So file is missing in the Output p

[2018-07-18 13:55] geoperez commented on #62
`gpio.2.44` is another library used by RaspberryIO.

[2018-07-18 14:01] Syndlex commented on #62
Jup what I mean with this.

Both Libs are missing in the Output when using the Standard version of this RaspberryIO.

[2018-07-18 18:28] MoppleTheWhale commented on #61
After upgrading to version 0.17.0, the exception is caught as expected:
Unosquare.RaspberryIO.Native.HardwareException on I2CDevice.Write: (121) - A hardware exception occurred. Error Code: 121

This solves my problem. Thank you so much for your support!

[2018-07-18 18:29] #61 closed

[2018-07-19 05:08] ggriffon commented on #62
I did the same coying and renaming the file. Is it supposed to be include in the package?

[2018-07-19 15:19] ggriffon commented on #62
VS 2018, win10
.net core 2.1 on raspbian.

[2018-07-19 18:34] k3z0 commented on #62
Hi there,

Effectively **libwiringPi.so.2.46** and **gpio.2.44** are part of the RaspberryIO package, but they are embedded resources in the DLL, that's why you can´t find the files when exploring the nuget package.

The files are created when the **Pi** class is statically initialized, so the files must be created unless there are permissions issues.

We just performed some tests running the "pla

[2018-07-21 15:46] Syndlex commented on #62
Oh this could be my problem.
My Runtime is in a Docker Container.
I dont know if the Dotnet Runtime can create files.

[2018-08-02 16:17] TheSleepyPenguin opened #65 "Documentation for Peripheral Classes"
Hi, I'd like to use the 'Button' peripheral class (I've installed the `Unosquare.RaspberryIO.Peripherals` package), but I'm not sure how to use it as I can't seem to find any documentation for it.
I'm new to C# so apologies if my question seems a bit simple...
Thanks for helping me out! :)

[2018-08-02 20:24] #62 closed

[2018-08-02 20:29] geoperez commented on #65
Yeah, we don't have documentation for the peripherals yet. But the [Button source code](https://github.com/unosquare/raspberryio/blob/master/src/Unosquare.RaspberryIO.Peripherals/Button.cs) is really easy to read.

The class will initialize a button connected to a `GpioPin` and you need to set listeners to the events `Pressed` and `Released`. The Playground project has a [sample method](https://gi

[2018-08-03 15:15] TheSleepyPenguin commented on #65
Thanks for the reply, I'll try it out!

[2018-09-04 13:59] isirour commented on #49
Hi all,

I am experiencing same error with:
- Unosquare.RaspberryIO.Peripherals 0.2.1
- Unosquare.RaspberryIO 0.17.0
- .NET Core 2.1.401

Any insight as to how to over the issue?

Code snippet:
`var DataPin = Pi.Gpio[P1.Gpio22];
 var Sensor = new TemperatureSensorAM2302(DataPin);
 Sensor.OnDataAvailable += Sensor_OnDataAvailable;
 Sensor.Start();`

Code snippet handler:
`private static void Sensor

[2018-09-04 21:51] michaeldimoudis commented on #49
Yea pity this hasn't been fixed, as simply reverting the code change as mentioned above gets the temperature sensor working again. I'm not using the nuget package in my project due to this.

[2018-09-04 22:32] geoperez commented on #49
My bad, i didn't revert the code tomorrow.

On Tue, Sep 4, 2018, 4:51 PM Michael Dimoudis <notifications@github.com>
wrote:

[2018-09-06 17:49] geoperez commented on #49
I revert the code and I published a new nuget (0.2.2). Can you try it?

[2018-09-06 20:47] isirour commented on #49
Hi!

I have updated the NuGet (now 0.2.2), recompiled, deployed and executed, but I experience the same error, all readings end up in Checksum error, as example:

22:31:16.573 INF >> Start Pulse Index: 2

22:31:16.674 WRN >> [TemperatureSensorAM2302] 0 = L:   51 | H:   25

-12,8

22:31:16.674 WRN >> [TemperatureSensorAM2302] 0 = L:   61 | H:   12

22:31:16.674 WRN >> [TemperatureSensorAM2302] 0 =

[2018-09-06 20:52] geoperez commented on #49
@michaeldimoudis can you show me the correct source code?

[2018-09-06 22:20] michaeldimoudis commented on #49
Hi @geoperez I don't see the reverted code in git yet? The git commit hash I am using that's working for me is 6e2c8ab30a6c00d20c131d3d538fdbc618f5aa47

It looks like simply reverting only the TemperatureSensorAM2302 code to that commit won't fix the issue. I am trying to find the exact commit in between 16/3/2018 and 27/3/2018 that broke the temperature sensor. I'll let you know when I find it.

[2018-09-07 10:30] michaeldimoudis commented on #49
Hi @geoperez @isirour I just created a PR with the fix. https://github.com/unosquare/raspberryio/pull/66

A simple revert didn't work, had to also remove the 101ms Sleep in `Unosquare.RaspberryIO/Gpio/GpioPin.cs`. I am not sure why a sleep was put in there in this commit https://github.com/unosquare/raspberryio/commit/48abfd2ff9a6404a17c73a8aae41797406be0a5c, so I am unaware if this will affect an

[2018-09-07 16:00] geoperez commented on #49
New nuget is up: https://www.nuget.org/packages/Unosquare.RaspberryIO.Peripherals/0.2.3

Please let me know if it's working now.

[2018-09-07 23:50] michaeldimoudis commented on #49
Woohoo it's working now :) Thanks for pushing this fix up to nuget.

[2018-09-07 23:50] #49 closed

[2018-09-10 09:04] isirour commented on #49
It works like a charm ;) Thanks guys!

[2018-09-11 02:34] juandrn opened #67 "Friendly PWM Gpio"
I wan't to use this library because is very simple for digital pins, but I don't know how to use it with PWM pins to do in an easy way

Something like https://raspi.tv/2013/how-to-use-soft-pwm-in-rpi-gpio-pt-2-led-dimming-and-motor-speed-control.

Good job
Best regards
Thanks

[2018-09-14 03:48] TWhidden opened #68 "SPI Bits Per Word / Frequency support"
Currently developing for a board header

https://pi-plates.com/product/relayplate/

In their python script,

![image](https://user-images.githubusercontent.com/9921122/45528545-9dc8e900-b795-11e8-97d2-7bb744107700.png)

They set the transfer rate at send to 300000 with bits per word at 60.

Then they set the frequency to 500000 with 20 bits per word.

I am no SPI expert by any mean here. But I got

[2018-09-16 04:06] TWhidden commented on #68
Scratch all of these questions - I have no idea why he has those values in the Python script, but I ended up just writing my own P/Invoke for a custom library, that sits on top of his C++ files i acquired after this post.  Those were hard coded at 500000 and 8 bit words. Not sure why /how the python stuff was working, or even my UWP app.  I have little knowledge of how SPI stuff works.

[2018-09-16 04:06] #68 closed

[2018-09-18 06:49] SuperJMN commented on #67
I'm very interested in this :) I have installed the package and have seen that pins have some properties related to PWM, but I've found no documentation about them. I would like to setup the classic "breathing LED" example.

Thanks in advance!

[2018-09-19 15:52] geoperez commented on #67
@mariodivece would you recommend use [pigpio-dotnet](https://github.com/unosquare/pigpio-dotnet) to work with PWM?

[2018-10-01 02:57] juandrn commented on #67
I have an example I can do with few lines:

[code]

It work only for pins 13 and 18

[2018-10-02 20:52] juandrn commented on #67
@geoperez Is there something like this example in pigio-dotnet?

Simplified code... find in: [rpi gpio code samples](https://elinux.org/RPi_GPIO_Code_Samples)

[code]
I only see a blink gpio example in [pigpio-dotnet](https://github.com/unosquare/pigpio-dotnet)

[2018-10-04 20:49] k3z0 commented on #67
Hi,

here is a simple code for led dimming using RaspberryIO:

[code]

![led_dimming](https://user-images.githubusercontent.com/5455304/46502143-fc114680-c7ec-11e8-861c-88bc95bfb2cd.gif)

**PwmRange** is the maximun value of the pulse width, than means 100% of pulse width. Changing this value allows you to have a more fine or coarse control of the pulse width (default 1024).

**PwmRegister** is th

[2018-10-04 21:30] juandrn commented on #67
Thanks @k3z0 for the answer, the first example that I wrote works same as your example, but could you change gpio to another distinct of 18 and 21? because that is the only problem that I have

[2018-10-05 01:29] #67 closed

[2018-10-05 14:05] #36 closed

[2018-10-05 14:06] geoperez commented on #37
We already have a pigpio implementation.

[2018-10-05 14:06] #37 closed

[2018-10-09 14:53] k3z0 opened #71 "App crash when calling native "strerror""
App crash when calling native function **strerror** from another runtime than mono.

[2018-10-09 21:12] #71 closed

[2018-10-15 20:09] geoperez commented on #65
Can I close this issue?

[2018-10-16 08:01] TheSleepyPenguin commented on #65
@geoperez if you're asking me, then yes.

[2018-10-16 13:58] geoperez commented on #65
Yes, closing.

[2018-10-16 13:58] #65 closed

[2018-10-19 20:45] k3z0 commented on #51
Hi @mbazzo,

The **DeviceId** it's actually the address of your device in the I2C bus. Accordinlly to your post, you have 2 available devices at **0x40** and **0x70** addresses (both in hexadecimal).

Accordinly to the **PCA9685** documentation the default address is **0x40**, so you can follow the [i2c example](https://github.com/unosquare/raspberryio#i2c-to-connect-ics) at the README using **0x4

[2018-10-29 07:38] dommy1C opened #74 "Enabled getting a jpeg from the video stream"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-11-02 17:27] TheOnlyRantis opened #75 "Initial call to Pi.Spi fails with exception"
**Describe the bug**
Calling Pi.Spi.Channel0Frequency = Spi.MinFrequency results in an exception. The message from that exception is:

System.TypeInitializationException
  HResult=0x80131534
  Message=The type initializer for 'Unosquare.RaspberryIO.Pi' threw an exception.
  Source=Unosquare.RaspberryIO
  StackTrace:
   at Unosquare.RaspberryIO.Pi.get_Spi()
   at MAX31865..ctor(Int32 channel, Int32

[2018-11-02 18:49] geoperez commented on #75
What target framework are you using?

On Fri, Nov 2, 2018, 12:37 PM Alex <notifications@github.com wrote:

[2018-11-02 23:44] TheOnlyRantis commented on #75
Universal Windows, specifically Windows 10 (IoT) version 1803 (10.0; Build 17134) which is using .NET Core

[2018-11-03 00:39] skydivervrn opened #76 "Troubleshooting hardware error"
Hi
I am using Visual Studio 2017, .Net 4.5.2, Unosquare.Raspberry.IO 0.17.2 and Unosquare.Swan 0.34.2, mono 4.6.2 and Raspbian 4.14.71.

After step "Run the project"(./Unosquare.RaspberryIO.Playground) I recived error bellow:

root@SH:/home/root/playground# mono Unosquare.RaspberryIO.Playground.exe
 00:07:23.715 INF >> Starting program at 03/11/2018 00:07:23
 00:07:23.937 INF >> GPIO Controller in

[2018-11-05 17:29] k3z0 commented on #76
Hi @skydivervrn,

Maybe the reason is because you are running the RFID test and you don't have the required hardware. To fix this error you only need to comment line 40 in Program.cs:

[code]

Greetings.

[2018-11-05 17:41] k3z0 commented on #75
Hi @TheOnlyRantis,

Could you please send us a sample code reproducing this behaviour?

[2018-11-05 21:50] k3z0 commented on #74
Hi @dommy1C

The Pi captures video as a raw H264 video stream, so in order to obtainan an image from video stream you must decode the raw H264 bytes in the **onDataCallback** callback. This is not an easy task, so maybe you can search for a third party library for H264 decoding.

As an alternative you can use **[Pi.Camera.CaptureImage](https://github.com/unosquare/raspberryio#capturing-images)** u

[2018-11-06 14:01] k3z0 commented on #74
Hi @dommy1C,

The default frame rate is 25 fps, you can change the frame rate setting a value between 2 and 30 to the **CaptureFramerate** property in the **CameraVideoSettings** object that you pass to **Pi.Camera.OpenVideoStream**.

[2018-11-06 16:21] dommy1C commented on #74
Hi

and how would i take a jpeg at that same rate?

thanks
________________________________
From: Carlos Solorzano <notifications@github.com>
Sent: 06 November 2018 14:01
To: unosquare/raspberryio
Cc: dommy1C; Mention
Subject: Re: [unosquare/raspberryio] Enabled getting a jpeg from the video stream (#74)

Hi @dommy1C<https://eur04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdo

[2018-11-06 22:36] k3z0 commented on #74
As I told you, you must decode the raw H264 bytes in the **onDataCallback** callback, that way you can obtain all the frames.

Or you can run **Pi.Camera.CaptureImage** maybe using a loop with a delay, that way you can obtain a jpg every cicle (in this case, you must test the number of frames you can get every second, setting different delay times, to achieve a nice performance):

[code]
With abov

[2018-11-07 08:21] dommy1C commented on #74
Hi

Thanks for enduring my questions.

I know what you said about the onDataCallback and I know you said it will be a lot of work to get this working. So, firstly, I wanted to see if I could get the CaptureImage to work as it would obviously be simpler to code.

I know all about timers and the code you supplied etc (thanks).

But, the following code does NOT give 10fps.  Just because you coded it

[2018-11-07 14:42] k3z0 commented on #74
Hi Andrew,

Well, this is true, yo must run some tests with **CaptureImage**, try to play with the settings (image size, quality, etc), may be this way you can get more fps.

As you said, I think your best approach is to work with the **onDataCallback** trying to decode the raw H264. If you find a nice library or another solution, please share it with us.

[2018-11-19 20:39] sargin48 opened #77 "Please support ds18b20"
Please support ds18b20

[2018-11-29 19:03] k3z0 opened #78 "Restart wifi network adapter"
**Describe the bug**
The [commands](https://github.com/unosquare/raspberryio/blob/de0cb836cd99eadbca0fb3fc01f9bef7a74e0d9e/src/Unosquare.RaspberryIO/Computer/NetworkSettings.cs#L116) used for restart wifi network adapter after change configuration are not longer available in new versions of Raspbian.

[2018-12-11 01:37] mbazzo commented on #51
Hello, I need help with this board.
I'm resuming using lib.
I performed the following test:
                 var device = Unosquare.RaspberryIO.Pi.I2C.AddDevice (0x40);                
                 for (var i = 1; i <4095; i ++)
                 {
                     var t = Convert.ToByte (i);
                     device.WriteAddressWord (1, t);
                     Thread.Sleep (100);
     

[2018-12-11 17:44] geoperez commented on #51
@k3z0 can you take a look?

[2018-12-11 18:44] mbazzo opened #79 "LCD 16x2"
Has anyone ever needed to write 16x2 using a library?
How to make?

[2018-12-12 20:42] geoperez commented on #79
Sample code for a Oled using pigpio-dotnet (similar project to this one):

https://github.com/unosquare/pigpio-dotnet/blob/master/Unosquare.PiGpio.Workbench/Runners/PiOled.cs

[2018-12-17 19:32] mbazzo commented on #79
I'm using this component

"https://www.banggood.com/en/LCD1602-Adapter-I2CIICTWI-Serial-Interface-Module-Board-For-Arduino-p-1056942.html?gmcCountry=BR&currency=BRL&createTmp=1&utm_source=googleshopping&utm_medium=cpc_elc&utm_content=frank&utm_campaign = pla-he-br-pc-0514 & gclid = EAIaIQobChMIifHo8sGn3wIVD4WRCh0Y9wpHEAQYAiABEgLL5fD_BwE & cur_warehouse = CN "

[2019-01-01 22:23] sargin48 opened #81 "i2c response wrong"
**Describe the bug**
Arduino send "hello " text but you can see screenshot.
Caming hhhhhhhh

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="758" alt="screen shot 2019-01-02 at 01 20 11" src="https://user-images.githubusercontent.com/3220540/50576894-ba645c00-0e2c-11e9-90f4-ade3b89e3bfb.png">
<img width="1335" alt="screen shot 2019-01-02 at 01 19 58" src="h

[2019-01-02 17:17] k3z0 commented on #81
Hi  @sargin48,

I think there are a misunderstanding in the code above:

`myDevice.Read()` does not read the available bytes in the buffer, instead reads one byte from the buffer. Therefore, the **104** that you are getting is not the buffer size, actually it is the ASCII value for char **'h'**, so the code is reading 104 times the same character.

By the moment we are using WiringPi as the underl

[2019-01-04 20:34] sargin48 commented on #81
Hi Carlos Solorzano. Thanks alot alot alot alot alot :)

[2019-01-04 20:35] #81 closed

[2019-01-13 19:09] Rainson12 opened #82 "pigpio wave_add_generic translation in unosquare.raspberryio?"
Im currently trying to translate a python script to .net core. However im failing because im unsure about what pigpios wave_add_generic does and what the translation in raspberryio would look like?

In python i have the following snippit which i want to translate (minified):
[code]

how would this look like in raspberryio?

[2019-01-13 23:27] pkese opened #83 "AM-2302 is not reporting decimal part of temperature"
There are a few issues with the AM-2302 sensor

- [ ] The sensor is reporting only integer values however HW sensor is capable of reporting decimal values as well (while other software is reporting 22.3 degrees, Unosquare is reporting only 22.0 degrees).

- [ ] There is unreasonable limitation of available IO pins. I have had the sensor installed on GPIO 0 and have tested it measuring temperatures

[2019-01-14 17:39] geoperez commented on #83
Hi @pkese, thanks for the head ups. We are kinda busy to fix these issues, but PR welcome.

[2019-01-14 17:41] geoperez commented on #82
RaspberryIO is still using wiringPi, but we have a wrapper around PiGpio at https://github.com/unosquare/pigpio-dotnet where the Waveform methods are implemented.

[2019-01-14 17:41] #82 closed

[2019-01-14 18:57] Rainson12 commented on #82
@geoperez would you mind releasing/publishing the pigpio-dotnet library to nuget?

[2019-01-14 22:02] pkese commented on #83
@geoperez Sure... I may have a look when I can allocate some time.

One question though. It seems that there is some sort of a transition in the source code and that the actual package that's on Nuget does not quite match the master branch on GitHub. I think it is related to the Abstraction package work.

I'd like to start from a stable code base... Is there any ETA for the current master branch t

[2019-01-15 17:14] k3z0 commented on #83
Hi Peter,

As you notice we are making some changes to the source code, we are making a sort of abstraction for support any third party underlaying library with RaspberryIO. Currenly we only support [WiringPI](http://wiringpi.com/) and we have another [library](https://github.com/unosquare/pigpio-dotnet/) that supports [PiGpio](http://abyz.me.uk/rpi/pigpio/). So we are trying to make a base code t

[2019-01-15 21:59] pkese commented on #83
I've tried to test using the new codebase, but got

[code]

I'm now trying to figure out how what needs to be loaded...

[2019-01-15 22:17] k3z0 commented on #83
Are you usign the nuget packages or did you clone the RaspberryIO repository?

RaspberryIO only has abstractions, so you need to use the actually implementation. By the moment we only have the implementation for using [WiringPi](https://github.com/unosquare/wiringpi-dotnet). If you are using the WiringPi implementation and still have the error let me know to run some tests.

Greetings.

[2019-01-15 22:40] pkese commented on #83
I cloned the RaspberryIO repository, because I wanted to add your fix for the AM2302.
I referenced RaspberryIO, Abstractions and Peripherials in my .csproj using `<ProjectReference Include="..."/>`
I reverted any fiddling with PiGpio, so I'm now referencing the WiringPi (Nuget version) in my project, but I don't know how to explicitly initialize it for RaspberryIO.
I'm still getting `You need to l

[2019-01-16 13:33] k3z0 commented on #83
@pkese

We use a Dependency Container in order to load all needed classes, if you have all needed references in your project, all of them should be loaded. Let me run some tests to confirm that the Dependency Container is working properly.

[2019-01-17 15:41] k3z0 opened #84 "Bootstrap process"
**Describe the bug**
DependencyContainer AutoRegister is not working properly [(issue 161)](https://github.com/unosquare/swan/issues/161). Thus, it is necessary to manually register all needed classes.

[2019-01-17 22:45] k3z0 commented on #83
Hi @pkese,

We just release some fixes to RaspberryIO, Peripherals and WiringPi. Just pull the last repository changes, update WiringPi to the last nuget version ([0.2.3](https://www.nuget.org/packages/Unosquare.WiringPi/0.2.3)) and run some tests.

Currently we don't have a AM2302 sensor, so we couldn't perform the tests by ourselves, so We will be waiting for feedback from you.

Thanks.

[2019-01-17 22:47] k3z0 commented on #83
I almost forget it, for properly bootstrap RaspberryIO you must add this line of code:

[code]

[2019-01-18 16:10] #84 closed

[2019-01-18 23:17] pkese commented on #83
Hi @k3z0

I've tested the new code and I can now properly bootstrap the library.

The line

https://github.com/unosquare/raspberryio/blob/848fb2c12b735a782097d323d073ca24f5ff3799/src/Unosquare.RaspberryIO.Peripherals/TemperatureSensorAM2302.cs#L187

should actually remain summed with `+` just as before:

[code]

Without changing `|` into `+` nothing really works,
whereas after the fix, now checksu

[2019-01-21 16:51] k3z0 commented on #83
Hi @pkese

We already fix the checksum line as it was previously, sorry about that, we test with another sensor and it only worked using "or" instead of sum, thats why I asked you to test using the correct sensor.

We still working on the Abstractions project and its implementations (like PiGpio), thats why we doesn't have the release notes yet.

We appreciate that you are already using this chang

[2019-01-25 04:28] ydrolet opened #86 "Chip select with SPI"
I am confused about the SPI channels. On RPi 3, there are 2 SPI buses, SPI0 and SPI1. With SPI0, there are 2 chip select, CE0 and CE1. Are channels referring to the different SPI buses or the different chip select? I didn't succeed to test with channel 1 because I get a **Unable to open SPI device: 1** message. However, when I choose channel 0 and I have a single chip on the bus that is wired to C

[2019-01-25 08:32] Fuzzygaro opened #87 "Unregister interrupt callbacks on GPIO Pins"
I need the ability to update GPIO configuration at runtime based on commands from a supervisor process. Some pins are set up with interrupts but the pins to detect events on may change. As such I need to be able to unregister interrupt callbacks. As it stands I will have to restart the application to configure new pins with callbacks.

[2019-01-25 21:36] foxton33 opened #88 "Add support for the Compute Module 3 to the PiVersion enum"
Hi - I like the raspberryIO and I'm using it with the Compute Module 3.
Could you add support for the Compute Module 3 (CM3)?

I believe you just need to update the enum Unosquare.RaspberryIO.Computer.PiVersion
and add the entry:

/// <summary>
/// The Compute Module 3
/// </summary>
ComputeModule3 = 0xa220a0,

Thanks

[2019-01-28 17:01] k3z0 commented on #86
Hi @ydrolet

This problem is caused by the actual implementation of WiringPi library. WiringPi does only support SPI0 bus. It supposed to sopport both chip select CE0 and CE1, but we faced some problems trying to share the same bus with 2 devices, so we need to make a custom modification to the WiringPi library in order to use the bus SPI1. When you use Channel0, you are actually using CE0 from SP

[2019-01-28 17:02] geoperez commented on #83
Can we close this issue?

[2019-01-28 17:43] #74 closed

[2019-01-28 19:55] k3z0 commented on #51
@mbazzo

This is quite difficult because we don't have a PCA9685 card. Thus, we can't run any kind of test.

I think, you should take a look in the PCA9685 documentation to figure it out which commands does it support, or which commands you must provide to the card in order to get it run properly.

If we can get access to a PCA9685 card we would gladly conduct some tests to help you.

Greetings.

[2019-01-28 22:21] ydrolet commented on #86
Thanks @k3z0 ! I confirm that it is working. I was unable to use the channel 1 simply because it wasn't enabled. I just needed to add `dtoverlay=spi1-1cs` in the `/boot/config.txt` file ([found solution here](https://raspberrypi.stackexchange.com/a/56503)). For now, for our project, we will just use CE0 on SPI0 and CE0 on SPI1. Maybe later we will try your implementation with PiGpio. I suggest tha

[2019-01-29 01:21] mbazzo commented on #51
@k3z0
Thanks, my friend,
I ended up searching and doing the code I published in GitHub (https://github.com/mbazzo/PCA9685)

It would be interesting to put this code in your library.

Hugs

[2019-01-31 17:37] k3z0 commented on #88
Hi @foxton33

We already updated PiVersion enum including all the available models from [Pi documentation](https://www.raspberrypi.org/documentation/hardware/raspberrypi/revision-codes/README.md).

Thanks.

[2019-01-31 18:36] k3z0 opened #90 "Support new-style Revision codes"
Add fields to support the new-style revision codes:

**uuuuuuuuFMMMCCCCPPPPTTTTTTTTRRRR**

| Part | Represents |
| :---- | :--- |
| uuuuuuuu | Unused |
| F | New flag |
| MMM | Memory size |
| CCCC | Manufacturer |
| PPPP | Processor |
| TTTTTTTT | Type |
| RRRR | Revision |

#### Reference
[Raspberry Pi revision codes](https://www.raspberrypi.org/documentation/hardware/raspberrypi/revision-codes/

[2019-01-31 19:43] pkese commented on #83
Sure

[2019-01-31 19:43] #83 closed, assigned to k3z0

[2019-02-03 18:05] IvayloIL opened #91 "Standard Web Camera"
As we know RPI and raspbian support using an external standard web camera connected via USB ports. It will be awesome if you support this as well aside with the regular Camera module.

- https://www.raspberrypi.org/documentation/usage/webcams/README.md

[2019-02-04 19:15] #3 closed

[2019-02-04 19:15] #58 closed

[2019-02-04 19:15] #6 closed, assigned to mariodivece

[2019-02-04 19:15] #5 closed

[2019-02-04 19:15] #10 closed

[2019-02-04 19:15] #2 closed

[2019-02-04 19:15] #29 closed

[2019-02-04 19:15] #46 closed

[2019-02-04 19:15] #1 closed

[2019-02-04 19:15] #9 closed

[2019-02-04 19:15] #47 closed

[2019-02-04 19:15] #76 closed

[2019-02-04 19:15] #75 closed

[2019-02-04 21:25] #78 closed

[2019-02-05 15:04] oblomingo opened #92 "GPIO Pins digital read and write doesn't work on Raspberry Pi 3 Model B+"
**Describe the bug**
I'm developing .net core application to control 5V relay with Raspberry Pi 3 Model B+ and I can't control 5v relay.

**To Reproduce**
I have VMA406 (https://www.lemona.lt/LIUSE/NI/En/Pdf/vma406_a4v01.pdf) relay.
I connected 3 input contacts as described in the instruction:
1). S - to Gpio 26 (Physical pin 37)
2). + - to 5V Power (Physical pin 2)
3). - - to Ground (Physical pin

[2019-02-05 17:41] k3z0 commented on #92
Hi @oblomingo

I think that, because the RaspberryIO version you are using, you should use the WiringPi pin numbering system. In WiringPi numbering system pin26 is [BMC12](https://pinout.xyz/pinout/pin32_gpio12#) (physical pin 32). Could you please try to use this pin or, if you need to use the physical pin 37, try to use the pin25 ([BCM26](https://pinout.xyz/pinout/pin37_gpio26#)).

This is becau

[2019-02-06 09:53] oblomingo commented on #92
Hi @k3z0 !
Now it's working like a charm! Thanks a lot!
Could you please close this issue?

[2019-02-06 09:53] #92 closed

[2019-02-06 20:55] geoperez commented on #88
Can I close this issue?

[2019-02-07 14:29] foxton33 commented on #88
Thanks @k3z0 and @geoperez !

[2019-02-07 14:29] #88 closed

[2019-02-07 15:34] k3z0 commented on #91
Hi @IvayloIL

At this moment it is not a priority for us to adding support for USB cameras directly through RaspberryIO, nevertheless, you can use a project like [OpenCvSharp](https://github.com/shimat/opencvsharp) to achieve your goal.

Another approach you could try is, based in our [camera classes](https://github.com/unosquare/raspberryio/tree/master/src/Unosquare.RaspberryIO/Camera), try to im

[2019-02-07 17:34] geoperez commented on #86
Done!

[2019-02-07 17:34] #86 closed

[2019-02-11 00:15] DanielSSilva opened #93 "Problem with RaspberryIO v0.18.0 and RaspberryIO.Abstractions"
I'm currently trying to migrate [this](https://github.com/techyian/RPi.SenseHat) project to fully support dotnet core. It currently has changes on both wiringPi and this project. I'm trying to remove those changes (because that wouldn't allow to keep versions up to date).
The current state can be seen [here on this "demo project"](https://github.com/DanielSSilva/MyCSharpSenseHat). Currently it com

[2019-02-11 04:01] paez9817 commented on #93
Hi, I have the same problem updating from 0.14.0 to 0.18.0 on raspberry

[2019-02-11 08:21] forki opened #94 "Breaking change in Unosquare.Raspberry.IO (0.18)"
**Describe the bug**

After update to Unosquare.Raspberry.IO (0.18) I can't find the Pin values anymore. Docs show `WiringPiPin.Pin00`  as example, but can't find that one as well.

![image](https://user-images.githubusercontent.com/57396/52551778-38c5fd80-2dde-11e9-84f4-13a3bcfcec5f.png)

[2019-02-11 11:55] dobova86 commented on #93
Same problem with new Console project :

I checked Raspberry.IO, RaspberryIO.Peripherals and WiringPi but all reference 0.2.1 Raspberry.Abstraction.

[2019-02-11 12:08] DanielSSilva commented on #93
What's intriguing me here is the "The located assembly's manifest definition does not match the assembly reference". I don't understand much about dll and versioning, but by reading that error, seems that the assembly is being defined to refer to v0.2.0 somewhere. What I'll try to do later is to compile the raspberryio locally and point my projects to use the local version instead of the nuget pac

[2019-02-11 12:10] DanielSSilva commented on #94
Seems like this version "broke" quite a few things. The reference to the Abstractions namespace is broken as well #93

[2019-02-11 12:10] DanielSSilva commented on #94
I'm commenting here because on the bug that I've just mentioned, it also uses the Unosquare.RaspberryIO.Pi class

[2019-02-11 12:27] dobova86 commented on #93
If this can help, the physical dll file is _Unosquare.Raspberry.Abstraction.dll_,  but the file version showed by file details is **2.0.0**

[2019-02-11 12:36] DanielSSilva commented on #93
Right, which means that the build process is generating the version 0.2.0 instead of the 0.2.1, although the package explicitly references the version 0.2.1

[2019-02-11 12:43] dobova86 commented on #93
![nuget](https://user-images.githubusercontent.com/11635361/52563918-f6fb7e00-2e02-11e9-84ee-ea2c45303ca6.JPG)

[2019-02-11 12:46] DanielSSilva commented on #93
But on the left it says 0.2.1. So **_maybe_** it means that the nuget version is 0.2.1 but the assembly is still 0.2.0. Can anyone please confirm this or correct me if I'm wrong?

[2019-02-12 16:22] lucam5 commented on #93
The nuget package has the wrong 0.2.0 dll.
If you clone the master project and just compile the Abstraction project, you can use the dll generated inside bin folder. It compiles with the right version number. Here is attached the 0.2.1 dll waiting an update of the nuget package.
[Unosquare.Raspberry.Abstractions.dll.zip](https://github.com/unosquare/raspberryio/files/2856608/Unosquare.Raspberry.Ab

[2019-02-12 16:26] dobova86 commented on #93
Oh thanks a lot...

[2019-02-13 00:48] DanielSSilva opened #95 "Better explanation to what's bootstrap"
I see that I'm required to initialize the Pi class with some bootstrap. What's this bootstrap? I noticed that there's the "WiringPi" bootstrap. Are there others? I'm asking this because I'm having issues with I2C but I don't know if it's due to this bootstrap or something else.
I'm trying to add the senseHat to the I2C devices but getting an exception saying "Unable to select I2C device: Device or

[2019-02-13 20:24] k3z0 commented on #93
Hi @DanielSSilva,

We just release some updates to our nugets packages in order to solve the versioning problems.

- **Unosquare.Raspberry.IO** 0.18.1
- **Unosquare.RaspberryIO.Peripherals** 0.2.4
- **Unosquare.WiringPi** 0.2.4

I made some changes to your project ([here](https://github.com/k3z0/MyCSharpSenseHat)), but I'm not be able to test it because I don't have the hardware. Could you please

[2019-02-14 02:56] paez9817 commented on #93
Thanks @k3z0, It works on raspberry

[2019-02-14 03:06] geoperez commented on #93
Can I close this issue?

[2019-02-14 03:07] geoperez commented on #94
@forki please check issue #93

[2019-02-14 09:42] DanielSSilva commented on #93
hello @k3z0 . Thanks for the feedback. I'll test it

@geoperez I think you can. If something doesn't work I can re open it

[2019-02-14 14:22] #93 closed

[2019-02-14 17:54] k3z0 commented on #94
Hi @forki

At the beginning, RaspberryIO was built around WiringPi library and all our classes, properties, enums, etc. was based into those ones used in WiringPi too.

Now, we are working on a more general version of RaspberryIO (Abstractions) that, could use any core library (WiringPi, PiGpio or even new ones). So, it was necessary to change certain properties and enums for more general ones.

I

[2019-02-14 18:12] k3z0 commented on #95
Hi @DanielSSilva

As you noticed, we need to improve the documentation for the new version. By the moment, you can check this answer https://github.com/unosquare/raspberryio/issues/94#issuecomment-463725349 for more information about using and bootstrapping of the new version.

[2019-02-14 18:53] geoperez commented on #94
@k3z0 update the README file with your explanation.

[2019-02-14 21:10] geoperez opened #97 "Add Related projects table"
Add Related projects table, similar to EmbedIO, in the bottom of the README file.

Include the same table in wiringpi and pigpio projects.

[2019-02-15 00:09] #97 closed

[2019-02-18 15:24] k3z0 commented on #94
I have already updated the README with the new features and the procedure for up and running RaspberryIO.

[2019-02-18 15:25] k3z0 commented on #95
I have already updated the README with the new features and the procedure for up and running RaspberryIO.

[2019-02-18 15:25] geoperez commented on #94
Can I close this issue?

[2019-02-20 16:47] TylerLeonhardt commented on #94
@k3z0 does the `RaspberryIO.Abstractions` sustain the old pinout behavior if we pick WiringPi? Or is that abstraction layer for something else?

I'm trying to not have a breaking change.

[2019-02-20 17:13] k3z0 commented on #94
Hi @TylerLeonhardt,

Sorry, but the answer is no, RaspberryIO.Abstractions does not support the WiringPi pinout numbering system anymore.

The main target of `RaspberryIO.Abstractions` it is to support any third party library. At this moment, we only have finished the implementation of WiringPi and we are working in the implementation of PiGpio. Because of the general purpose of the library, we de

[2019-02-20 17:20] DanielSSilva commented on #94
Hi @k3z0 ,
Probably it's my lack of knowledge, but, if there's a Bootstrap that uses the wiringPi, shouldn't the pinout follow the bootstrap? Won't it be confusing to use a bootstrap from a library that uses one pinout but then you find out that it actually uses another?

[2019-02-20 19:05] k3z0 commented on #94
Hi,

Well, right now, we only support the BCM pinout numbering system for `RaspberryIO.Abstractions`. We thought that, because it is a general abstraction, using a general numbering system was a good approach, however, accordingly to your comments, we decide that it will be a good idea the possibility to add support for multiple numbering systems, independent of the implementation.

Unfortunately,

[2019-02-20 19:23] k3z0 opened #99 "Add support for multiple pinout numbering systems"
`RaspberryIO.Abstractions` only support the BCM pinout numbering system, independently of the actual implementation used (WiringPi, PiGpio or any other).

It would be a nice feature that the user could choose the pinout numbering system of his preference in the bootstrap process.

[2019-02-20 19:26] k3z0 commented on #94
Check issue #99 to follow up this new request.

[2019-02-20 22:53] TylerLeonhardt commented on #99
Thanks @k3z0! We rely on raspberryio in [PowerShell-IoT](https://github.com/PowerShell/PowerShell-IoT). It would be great to have this so we don't have to introduce a breaking change for our customers!

[2019-02-22 20:06] #79 closed

[2019-02-25 17:40] k3z0 opened #101 "Validate a minimum password length for a wireless network"
**Describe the bug**

When you configure a wireless network using **NetworkSettings.SetupWirelessNetwork**, you can set a password of any length, but if you set a password with a length less than 8 characters then the wpa_supplicant service cannot use the value, generating errors that are hard to track.

In order to avoid these errors, the password length, if one is provided, is required to have a

[2019-02-25 17:45] k3z0 opened #102 "Include a funtion to obtain the current network adapter in use."
Include a function to obtain the current network adapter in use. This could be accomplished by parsing the results of the **route** command:

[code]

The _Iface_ column in the line with destination _default_ tells you which interface is used.

[Reference](https://unix.stackexchange.com/questions/14961/how-to-find-out-which-interface-am-i-using-for-connecting-to-the-internet)

[2019-03-11 21:30] k3z0 commented on #95
can we close this issue?

[2019-03-12 10:29] DanielSSilva commented on #95
Yes, thanks

[2019-03-12 13:30] #95 closed

[2019-03-14 11:54] dobova86 commented on #51
Hi @mbazzo, the i2cdetect sense 0x70 slave address, but it may be it's not true, it depends on the real state of hardware Ax (a0,a1,a2,a3,a4,a5) pins! My Pi sense 0x70, but my real addr is 0x7F.
Note that I can't send n-bytes to LED regs, but you need to write 2by2 using WriteAddressWord() call.

[2019-03-25 16:51] dobova86 opened #103 "BCM pin above 31 for CM3/3+ modules"
Hi, I'm using CM3+ module and C wiringPi lib has no problem to work with Gpio BCM pin above 31 (0..31), also using your native wiringPi project. It doesn't work with abstraction library (max pin is 31). It would be useful to extend abstraction pins definition.

[2019-03-26 20:51] codpro2005 opened #104 "How to save camera stream as a file?"
I'm trying out to save the video stream of the ```Pi.Camera``` into a file by adding each byte of the callback data into a byte List and saving it as a .h264 video. Ideally the video should be of .mp4 format and therefore I'm running a bash script to convert the .h264 file into a .mp4 file.

My problem is that when I open the .mp4 video, though the first few seconds are fine, it ends up speeding u

[2019-03-27 12:00] codpro2005 commented on #104
UPDATE:

I tried out the exact same code today again and now it's working perfectly fine. I at first thought that it might've been a buffer problem but I tried to replicate this problem by having a lot more processes running than when it didn't work, with no success. It might be of use to point out that while the .mp4 file generated by using this code did speed up, it did not speed up when using r

[2019-03-27 16:36] k3z0 commented on #104
Hi @codpro2005

We glad to hear that you don't have problems anymore. Maybe your code will be useful for other people trying to do the same.

Thanks for sharing.

[2019-03-27 16:36] #104 closed

[2019-03-27 17:22] geoperez commented on #104
You can add it in the wiki!

On Wed, Mar 27, 2019, 10:36 AM Carlos Solorzano <notifications@github.com>
wrote:

[2019-04-05 20:08] #87 closed

[2019-04-07 12:09] dj-curls opened #105 "OledDisplaySsd1306: System.TypeInitializationException"
**Describe the bug**
` 12:38:30.892 ERR >> [PiOled] System.TypeInitializationException: The type initializer for 'Unosquare.RaspberryIO.Peripherals.OledDisplaySsd1306' threw an exception.
   at Unosquare.RaspberryIO.Peripherals.OledDisplaySsd1306..ctor(II2CDevice device, DisplayModel model, VccSourceMode vccSource)
   at controller_concept_one.PiOled.Setup() in C:\Users\Oliver\Documents\raspberry-

[2019-04-07 15:38] geoperez commented on #105
Try to add the file from: https://github.com/unosquare/raspberryio/tree/master/src/Unosquare.RaspberryIO.Peripherals/Resources

[2019-04-07 23:35] mariodivece opened #106 "No reason to target 4.6.2 - Target 4.6.1 instead"
**Describe the bug**
TargetFramewors is set to 4.6.2. Retarget to 4.6.1. There is no need for 4.6.2

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Build for a minimum base version

[2019-04-07 23:39] geoperez commented on #106
There is a reason, the compatibility with netstandard2.0.

On Sun, Apr 7, 2019, 6:35 PM Mario Di Vece <notifications@github.com> wrote:

[2019-04-08 18:02] conhoj opened #107 "System.MissingMethodException"
**Describe the bug**
Missing Method Exception when attempting to run Playground

**To Reproduce**
Steps to reproduce the behavior:
 mono Unosquare.RaspberryIO.Playground.exe
or
 dotnet Unosquare.RaspberryIO.Playground.dll

get the same error:-

 18:58:34.137 INF >> Starting program at 08/04/2019 18:58:33
 18:58:34.319 ERR >> [Main] Error
    $type           : System.MissingMethodException
    Mess

[2019-04-08 19:50] geoperez commented on #90
Status?

[2019-04-10 19:46] geoperez commented on #106
Please check the new nugets.

[2019-04-10 19:52] geoperez commented on #105
???

[2019-04-10 19:53] geoperez commented on #94
Can I close this issue?

[2019-04-10 21:30] geoperez commented on #107
Can you clone your repo again?

[2019-04-11 10:30] conhoj commented on #107
Hi done that works a charm Thankyou

[2019-04-11 10:57] #107 closed

[2019-04-14 15:55] Sofoklis4 opened #109 "Unable to open SPI device: No such file or directory"
When  I try to use SPI the following error emerge:
"Unable to open SPI device: No such file or directory"
Any idea on this?

[2019-04-15 10:46] sab0h opened #110 "pin access"
Hey, actually after updating, i can't access to pin options like before.

Example:
http://prntscr.com/nc55fo

[2019-04-15 16:40] geoperez commented on #109
Can you post a sample code?

[2019-04-15 17:47] #91 closed

[2019-04-15 21:18] k3z0 commented on #110
Hi @sab0h

Try to cast explicitly the IGpioPin to WiringPi.GpioPin:

[code]

This is because, for the moment, only the implementation for WiringPi supports SoftPwm.

[2019-04-16 15:54] k3z0 commented on #109
Have you already activated SPI in the Raspberry? If not, follow [this](https://www.raspberrypi-spy.co.uk/2014/08/enabling-the-spi-interface-on-the-raspberry-pi/) tutorial.

[2019-04-17 08:15] Sofoklis4 commented on #109
`Pi.Spi.Channel0Frequency = SpiChannel.MinFrequency;

                byte[] response = new byte[3];
                byte[] request = new byte[3] { 0x01, 0x80, 0 };
                response = Pi.Spi.Channel0.SendReceive(request);

                int result = 0;
                result = response[1] & 0x03;
                result <<= 8;
                result += response[2];

                double

[2019-04-22 04:26] daveyostcom opened #111 "simple example"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-04-22 04:30] daveyostcom commented on #111
Getting started with dotnetcore on RPi would be so much easier if the solution would include a console app project that builds and is ready to copy to RPi, along with a paragraph or two specifically about the specifics of the specific example. ;-)  It can just blink a light. Anything that goes the whole way there.

Thanks

[2019-04-22 18:20] k3z0 commented on #111
Hi @daveyostcom,

We appreciate that you take your time to make suggestions to the project's readme. If you already had modified the readme with some improvements, please submit your PR so we can review your suggestions to add it to the project.

Thanks.

[2019-04-22 23:22] daveyostcom opened #112 "Playground example for inputs and buttons?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-04-22 23:56] daveyostcom commented on #112
Hi.  I can't see anything that helps with input from the pins. I'm trying to get input from the capacitive touch inputs on the [Explorer HAT Pro](https://shop.pimoroni.com/products/explorer-hat).

Thanks

[2019-04-23 22:25] k3z0 commented on #112
Hi @daveyostcom

We don´t have an "Explorer Hat Pro" for performing tests, but in its [technical reference page](https://github.com/pimoroni/explorer-hat/blob/master/documentation/Technical-reference.md), they mention that you must use I2C to communicate with the hat. In RaspberryIO's readme, you can found examples of [I2C](https://github.com/unosquare/raspberryio#i2c-to-connect-ics) communication

[2019-04-26 19:51] geoperez commented on #102
@k3z0 are you going to add this?

[2019-04-26 20:04] #106 closed

[2019-05-02 20:58] gingters opened #113 "Error while loading shared library"
**Describe the bug**
I wanted to test RaspberryIO, but my test program is unable to load the `libwiringPi.so.2.46`.

I double-checked, and both files `libwiringPi.so.2.46` and `gpio.2.44` are extracted to the file system when I execute my program. They are also both marked as executables.

**To Reproduce**
Steps to reproduce the behavior:
1. On the RaspberryPi install the dotnet core SDK 2.2
2. Cr

[2019-05-03 16:10] jifka commented on #87
I'd love for this to be re-opened. To not have a way to unregister a callback is a little sloppy. If you build an interface to the GPIO pins, you should have a way to clean up after yourself or selectively register an interrupt and unregister if you change the pin mode to output. I've found that you can't register an interrupt on an output pin, but you can change the mode to input, register, and t

[2019-05-03 16:12] jifka opened #114 "GPIO Pin Interrupts: which pin? RegisterInterruptCallback overload throws exception."
I can register an interrupt using a parameter-less callback function. But if I use the provided overload that supposedly returns the pin number and current value, an exception is thrown indicating that WiringPi does not support it.

This is using the latest official release of raspberryio.

[2019-05-06 16:11] #90 closed

[2019-05-06 16:34] k3z0 commented on #113
Hi @gingters ,

I don't know if this behavior is caused because of how the run command actually works. Try to use publish command instead and run your app using the generated dll:

[code]

[2019-05-06 16:42] k3z0 commented on #114
Hi @jifka

In fact, WiringPi does only support parameterless callback, the only one that actually supports parameters in the callback function is PiGpio. So, that overload is only supported when you use the PiGpio implementation.

[2019-05-06 17:55] jifka commented on #114
Thanks, and apologies for asking a simple question - how would I use the PiGpio implementation? Is this not yet released?

[2019-05-06 18:40] gingters commented on #113
I created a self-contained published project and executed the binary directly and that worked. Thanks for the hint.
That somehow makes the process of testing a bit slow when I build on the pi, but it works. Thanks for your answer!

[2019-05-06 18:40] #113 closed

[2019-05-06 18:49] k3z0 commented on #114
We are still working in the PiGpio implementation. For the moment you only will be able to use the parameterless callback function provides by WiringPi.

[2019-05-06 19:01] k3z0 commented on #113
We have a custom project to deploy projects directly to the raspberry using SSH, try it out, is very cool and easy to use:

https://github.com/unosquare/sshdeploy

[2019-05-07 13:32] dstania opened #116 "MFRC522 Example"
Hey Guys,

could you include an example how to use the RFID Reader MFRC522?

Best regards.

[2019-05-07 17:06] k3z0 commented on #116
Hi @dstania,

You can use the [Unosquare.RaspberryIO.Peripherals](https://www.nuget.org/packages/Unosquare.RaspberryIO.Peripherals) nuget package, we already have an implementation for MFRC522.

[code]

**Note:** The default constructor uses the BCM22 pin.

A more detailed example could be found in the playground project ([Playgroud MFRC522](https://github.com/unosquare/raspberryio/blob/master/src

[2019-05-08 14:19] dstania commented on #116
Hey @k3z0 ,
thank you very much! I invested lot of time for looking for exact that code! Now it is working!

Best regards.

[2019-05-08 14:54] #116 closed

[2019-05-09 19:07] benscobie opened #117 "Add netstandard 2.0 target"
I noticed as part of the 0.19.0 release the netstandard target was changed to 1.3. This brings in a bunch of unneeded dependencies for those of us who can utilise netstandard 2.0:
![depends](https://user-images.githubusercontent.com/944312/57479481-69122080-7295-11e9-9b5f-dcb957773dc5.PNG)

It looks like you can simply re-add the netstandard 2.0 on top of netstandard 1.3 target to solve this and n

[2019-05-14 15:31] k3z0 commented on #117
Hi @benscobie

Thanks for your suggestion, we are going to add both target frameworks in order to avoid all the dependencies for those who can utilize netstandard 2.0.

[2019-05-14 16:05] k3z0 commented on #117
We are going to release new nuget packages with the new target framework configuration.

[2019-05-14 16:50] k3z0 commented on #117
We already release the nuget version 0.19.1, try it out, please.

[2019-05-14 19:02] benscobie commented on #117
I still have a similar dependency graph sadly. I had a deeper look and it appears the System.Net.Security dependency from Unosquare.Swan is bringing in quite a lot. No harm in the netstandard 2.0 target now being there though.

[2019-05-15 17:31] ManuSanRam opened #119 "Implement volume control 🔈🔉🔊"
Implement a general purpose volume control.
Base this on AccessCore's volume control.

[2019-05-15 17:55] k3z0 commented on #117
Hi @benscobie

We already released a new [Swan nuget](https://www.nuget.org/packages/Unosquare.Swan) (version 1.2.3) we try to remove the most of additional dependencies. Could you please give it a try.

Thanks.

[2019-05-20 12:04] #51 closed

[2019-05-20 15:53] k3z0 commented on #117
Hi @benscobie,

Have you already tested the new nuget package?

Can we close this issue?

[2019-05-20 16:01] benscobie commented on #117
Hi,

Yes sorry I did. The dependency graph was still the same as before. When I installed Unosquare.Raspberry.IO it was bringing in Unosquare.Swan 1.2.0 which has the old netstandard 2.0 target dependencies. I'm not sure why it was doing that though as I would have thought the ">= 1.2.0" target would pick the latest.

[2019-05-20 16:33] geoperez commented on #117
Yeah, the latest nuget is still using Swan 1.2.0. Let me update the nuget.

[2019-05-22 15:51] Sofoklis4 commented on #109
any help on this issue? I tried several things but in vain.

[2019-05-22 18:18] #119 closed

[2019-05-22 18:21] ManuSanRam opened #121 "GY-521 Accelerometer"
Implement basic accelerometer controls for GY-521 accelerometer on C#.
This will be based on the rotation test for GY-521 implemented on Python.

[2019-05-22 19:47] geoperez commented on #117
The new nuget was published.

[2019-05-22 20:33] k3z0 commented on #109
Hi @Sofoklis4

Do you still have the same problem "Unable to open SPI device: No such file or directory"?

Could you please add a diagram of your wiring to the MCP3008?

[2019-05-22 21:02] k3z0 commented on #109
I'm getting that error only when SPI is not enabled or when the device file does not exist. Could you please tell me the list of devices that the raspberry lists to you when you run the next command:

[code]

[2019-05-23 19:15] Sofoklis4 commented on #109
Yes I receive the same error.
Thw diagram is the following
VDD     3V
VREF    3V
AGND   GND
CLK	    SCLK
DOUT   MISO
DIN	    MOSI
CS/SHDN	   CE0
DGND	GND
CH0	  A0 of sensor bme280

When I run the command ls /dev/spi* I receive the following message:
ls cannot access /dev/spi* no such file or directory

[2019-05-23 19:58] k3z0 commented on #109
Because of the answer you are receiving when you run the **ls** command, I assume that your SPI is disabled. You should receive something like this:

![imagen](https://user-images.githubusercontent.com/5455304/58282253-d1b7cd80-7d6a-11e9-8cb1-e7dafeac3aa9.png)

In this case, you can see that there is 2 device available for SPI. Maybe you need to double check your SPI settings.

[2019-05-24 18:27] Sofoklis4 commented on #109
Finally it seems that I found the mistake.
In the past I had installed drivers for an LCD 3.5" display for my raspi but I didnt use it any more.
I had never removed the drivers of the dispay from raspi so all the spi.
So I commented some lines at the config.txt related to the display and everything is fine.

THANKS FOR YOUR TIME AND YOUR HELP.
I really appreciate it.

Sofoklis

[2019-05-24 18:28] #109 closed

[2019-06-04 20:57] #121 closed

[2019-06-04 21:01] k3z0 opened #123 "DHT temperature & Humidity sensors 🌡💧"
Add support for DHT11 and DHT22 sensors.

[2019-06-05 17:56] #123 closed

[2019-06-07 16:38] k3z0 opened #125 "Ultrasonic Sensor HC-SR04"
Add support for the Ultrasonic Sensor HC-SR04

[2019-06-07 17:23] #125 closed

[2019-06-10 18:38] #117 closed

[2019-06-19 22:00] k3z0 opened #128 "Playground redesign"
We need to redesign the playground CLI in order to make it more user-friendly.

Users should use all examples without the need to comment and uncomment the parts of the code they want to test.

[2019-06-24 16:59] k3z0 opened #129 "Support for Model 4B"
Adding support for model 4B revision codes.

[2019-06-28 19:36] #111 closed

[2019-06-29 23:51] #112 closed

[2019-07-02 20:43] #105 closed

[2019-07-05 11:51] foxton33 commented on #103
Hi, I too would like this as I would like to use the GPIOs 38 - 43 on the CM3.

Thanks

[2019-07-05 18:59] geoperez commented on #114
Is this issue WIP?

[2019-07-08 13:40] dg71 commented on #116
Hi @k3z0 ,

Could you please provide a wiring pin-out from MFRC522 module to Raspberry Pi 3+ to fit the above code?

Thank you !!

best regards Dieter

[2019-07-08 16:48] #129 closed

[2019-07-10 08:30] DavidStania commented on #116
Hi @dg71,
you can use  the attached wiring.
Best regards.
![Raspi_nfc](https://user-images.githubusercontent.com/27513913/60953580-b9d9e000-a2fd-11e9-805c-61f6d5046514.png)

[2019-07-10 08:54] DavidStania commented on #116
Hey @k3z0,
i need one more time support for reading NFC Tags.
With the example code from Playground package, i can detect perfectly the id of a rfid card or nfc tag but i can't get the correct data of the blogs. If i scan the NFC tag with my smartphone, i'll get the correct data inside. Do you have an idee how to read all data inside all blogs of an tag?

Thank you and best regards.

[2019-07-10 15:11] k3z0 commented on #116
Hi @DavidStania

The example code in the Playground project reads all the blocks of data from an RFID card, here is what you get from the example:

![imagen](https://user-images.githubusercontent.com/5455304/60976149-d1f83200-a2f2-11e9-8218-281dd7d77ddd.png)

About NFC tags, we haven't run enough tests since there are different kinds of tags. As far as I had read the RC522 does not support all kin

[2019-07-11 20:39] geoperez commented on #128
What is missing?

[2019-07-16 23:02] #101 closed

[2019-07-16 23:02] #102 closed

[2019-07-17 15:28] geoperez commented on #128
Done!

[2019-07-17 15:28] #128 closed

[2019-07-17 20:46] Serk352 opened #134 "Add Bluetooth.cs"
Add Bluetooth.cs in https://github.com/unosquare/raspberryio/tree/master/src/Unosquare.RaspberryIO/Computer.

The class should contain:

Bool PowerOn()
Bool PowerOff()
List <  string  > ListDevices()

[2019-07-19 07:10] Zubini-1 opened #136 "GpioPin.Read() and GpioPin.Write() does not work on RaspberryPi 4"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Devices**
Raspberry version and hard

[2019-07-19 07:28] Zubini-1 commented on #136
Describtion:
Gpiopin.Read() is always false
Gpiopin.Wirte(true) does not work.
I build a setup with a Led and a 330 ohm resitance to test the .Write(true)
For the Read() test i connected the 3.3V directly to Pin 10.
I use RaspberryIO v0.23, WiringPi v0.3.1
I tested the numbering of WiringPi and BCM for the GPIO.
`Pi.Init<BootstrapWiringPi>();`
            `var Pin10 = (GpioPin)Pi.Gpio[10];`

[2019-07-22 05:38] Vishal-eco commented on #121
GF

[2019-07-23 14:27] k3z0 commented on #136
Hi @Zubini-1

Could you please tell me which version of Raspbaian are you using?

[2019-07-23 14:32] Zubini-1 commented on #136
Raspbian GNU/Linux 10 (buster)

[2019-07-23 14:44] k3z0 commented on #136
@Zubini-1 we found that WiringPI needs an update in order to work in Raspbian Buster, we are going to release a new version of [wiringpi-dotnet](https://github.com/unosquare/wiringpi-dotnet/) with this fix ASAP.

[2019-07-26 23:05] Serk352 commented on #134
@geoperez.

EOD Status:

I still cannot connect a device, however, the class can now pair a device as well as retrieve information from a specific device.

RST: I'm unable to tell, I need to read and research more about this, and in fact, I will appreciate if you can help me.

[2019-07-27 02:28] bruceme opened #138 "ADS1x15 ADC registery read/write has wrong byte ordering"
**Describe the bug**
The byte ordering sent to and received from the device is backwards.

**To Reproduce**
Steps to reproduce the behavior:

var adc = new ADS1015();

var result = adc.ReadChannel(0);

// Result is trash, just junk.

**Expected behavior**
Nice clean 12-bit ADC data

**Devices**
Any Raspberry Pi with an ADS1015 connected to either I2C

**Additional context**
Fix is coming

[2019-07-27 23:55] #138 closed

[2019-07-28 11:14] dinoToribio opened #140 "How can i implement Dht11 class in my project?"
can anyone tell how to use the Dht11 Class??

[2019-07-29 17:14] Serk352 commented on #140
Hi @dinoToribio , the easiest way to do it is using the class DhtSensor and his static method Create, inside the playground project there is a function called TestTempSensor, here you can see a working implementation of a Dht11 sensor.

Example:
https://github.com/unosquare/raspberryio/blob/master/src/Unosquare.RaspberryIO.Playground/Peripherals/Peripherals.TempHum.cs

[2019-07-30 05:00] dinoToribio commented on #140
Thank you Serk352.

[2019-07-30 05:09] dinoToribio commented on #140
By the way @Serk352, can you tell me the more details step by step on how i can run the project in a raspberry pi. And i use windows C# form application to use the class. Is that allowed? Sorry,  i asked a lot because i am just beginner in this kind of field.

Thank you in advance @Serk352.

[2019-07-30 13:19] k3z0 commented on #136
Hi @Zubini-1,

We recently released a new [nuget](https://www.nuget.org/packages/Unosquare.wiringpi) of [wiringpi-dotnet](https://github.com/unosquare/wiringpi-dotnet/) (0.4.0). We are using a new version of WiringPi (2.50) but not the latest version (2.52) yet, because it is not clear when the sources will be available.

Could you please give it a try in your Raspberry Pi 4 and let us know if it

[2019-07-30 13:35] Zubini-1 commented on #136
Hi,

thank you very much. Now it works. I updated with nuget the wiringpi-dotnet and copied the dll Files again in the execution directory.

[2019-07-30 13:35] #136 closed

[2019-07-30 14:09] k3z0 commented on #136
Maybe you can try using our tool [ShhDeploy](https://github.com/unosquare/sshdeploy) to publish the files directly to the Raspberry Pi.

[2019-07-30 15:50] Serk352 commented on #140
Hi @dinoToribio ,
To run the project on the RaspberryPi you need to deploy the files to a local folder, you can accomplish this using our tool [sshdeploy](https://github.com/unosquare/sshdeploy). There is an [example ](https://github.com/unosquare/raspberryio#run-the-app-on-the-raspberry) in the RaspberryIO documentation.
About using winforms, apparently Net Core 3 will have support for it, but on

[2019-07-30 15:50] Serk352 commented on #140
Can we close this ticket?

[2019-07-30 16:16] k3z0 commented on #140
Hi @dinoToribio

Maybe you could use Winforms on Linux if you run your app using Mono, more info [here](https://www.mono-project.com/docs/gui/winforms/). Unfortunately, this is out of the scope of RaspberryIO.

[2019-07-31 09:37] dinoToribio commented on #140
I understand now. Thank you very much everyone.

[2019-07-31 09:37] #140 closed

[2019-07-31 23:02] Serk352 commented on #134
@geoperez

EOD Status:

I added the documentation comments for Bluetooth class methods, I still need to verify the outputs for the commands running in the Bluetooth methods to give a reliable return.

RET: 1.5 hours.

[2019-08-01 23:01] Serk352 commented on #134
@geoperez

EOD Status:

I verified the commands outputs & make changes in the logic to evaluate if the operation was successful or not.

Also, fix some grammatical issues in the documentation comments, still need to finish some comments.

[2019-08-02 18:55] #134 closed

[2019-08-12 22:00] ffcruz85 opened #144 "Web streaming"
First of all, thanks for this great project.

I am trying to build web UI for basic control of the raspicam: video and still capture, and the ability to change basic camera settings (brightness, etc). All that seems pretty straightforward with this library.

For this to be useful from a web UI, the user needs to be able to see a live stream of the camera feed. I know this is out of scope of this p

[2019-08-13 15:53] k3z0 commented on #144
Hi @ffcruz85

By the moment we don't have support for direct streaming from our library, instead, you need to use some other libraries, like FFmpeg.

Here are some examples I could find:
https://medium.com/@jaredtoddpetersen/home-security-live-streaming-with-raspberry-pi-f9293efca7ba
https://www.engineer2you.com/2016/10/rasbperry-pi-ffmpeg-install-and-stream.html
https://www.digikey.com/en/maker/b

[2019-08-20 00:40] ffcruz85 commented on #144
I figured, but wanted to make sure I was not missing a particular form of usage here. Thanks for your time and the links - great project!

[2019-08-20 00:40] #144 closed

[2019-08-21 20:45] vbisbest opened #149 "LED Strip Misssing"
I cannot seem to find the LED Strip (APA102) class under peripherals.  I am using the nuget package directly from nuget (not building myself).   Thanks!

[2019-08-21 20:46] geoperez commented on #149
What target framework are you using?

[2019-08-21 20:53] vbisbest commented on #149
.Net Core 2.2.  And targeting linux-arm (for Raspberry Pi 3B+)

[2019-08-21 21:16] geoperez commented on #149
Please upgrade to nuget version 0.5.0.

[2019-08-21 21:44] vbisbest commented on #149
Ok, the class is there now, but I cannot init PI.  Per your docs:

Pi.Init<BootstrapWiringPi>();

BootstrapWIringPi is not a valid object.

[2019-08-21 21:49] k3z0 commented on #149
Hi @vbisbest

Try to use [this ](https://github.com/unosquare/raspberryio#usage)init code:

[code]

[2019-08-21 21:56] vbisbest commented on #149
Ok, I was missing that nuget package.  I have all that setup and now getting this error on the Pi.Init call.

fail: Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware[1]
      An unhandled exception has occurred while executing the request.
System.IO.FileNotFoundException: Could not load file or assembly 'Unosquare.Swan, Version=1.2.4.0, Culture=neutral, PublicKeyToken=null'. The system c

[2019-08-21 22:05] vbisbest commented on #149
I should add, the version of swan that gets installed is 2.0.1 (seems to be looking for 1.2.4)

[2019-08-21 22:34] geoperez commented on #149
Thanks for the heads up. WiringPi nuget was outdated. Please upgrade to version 0.5.0.

[2019-08-21 22:46] vbisbest commented on #149
I think we are closer.  Now I get this error when I create the LED Strip.
Unable to open SPI device: No such file or directory

Here is the code I am using.  I tried SPI channel 0 and 1.

[code]
And thank you very much for your prompt responses and fixes!

[2019-08-21 22:48] vbisbest commented on #149
AHHH! Never mind.  I had to enable the SPI interface on the rpi.   Thank you again!

[2019-08-21 22:48] #149 closed

[2019-08-28 00:22] Bubelgin commented on #62
Having the same problem but with later versions, core 2.2.6:
Unhandled Exception: System.DllNotFoundException: Unable to load shared library 'libwiringPi.so.2.50' or one of its dependencies. In order to help diagnose loading problems, consider setting the LD_DEBUG environment variable: liblibwiringPi.so.2.50.so: cannot open shared object file: No such file or directory
   at Unosquare.WiringPi.Nat

[2019-08-28 22:38] Bubelgin commented on #62
Absolutely the same problem even with dotnet-runtime-3.0.0-preview8-28405-07-linux-arm.tar.gz.
Published as self contained package, still run into same error: "Unable to load shared library 'libwiringPi.so.2.50' or one of its dependencies".
Did a "sudo chmod -R 755" for the whole folder and run the app with sudo, doesn't help.

[2019-09-01 23:20] geoperez commented on #94
@k3z0 are you working on this issue?

[2019-09-10 20:09] #114 closed

[2019-09-13 20:00] #110 closed

[2019-09-15 12:17] sergio73 commented on #62
Hello, I'm having the same problem, and  I think I found the reason about why this is happening, I have installed Raspbian Stretch and this version is only compatible with libc 6 (v2.24)

If I execute this to check the dependencies of libwiringPi I get this:
[code]
This could mean that libwirignPi.so.2.50 was compiled using the last version of Raspbian which currently is "buster" and it was compil

[2019-09-22 16:41] #99 closed

[2019-09-26 16:14] k3z0 opened #168 "Pi.Info is not reporting LibraryVersion"
Pi.Info is reporting neither LibraryVersion nor BoardRevision. This is because of the way Pi is instantiating SystemInfo, before the Bootstrapping process.

[2019-09-26 16:44] #168 closed

[2019-10-03 07:08] yangsungyeol opened #173 "Ssd1306 display error connected to i2c"
**To Reproduce**
Steps to reproduce the behavior:
1. I want to use the PiOled class included in Unosquare.RaspberryIO.Playground.Extra

2.   I instantiate it
If I try to call the setup onsetup () method
Error message is displayed

3. See error

Unhandled exception. System.Collections.Generic.KeyNotFoundException: The given key '60' was not present in the dictionary.
   at System.Collections.Generi

[2019-10-03 15:58] geoperez commented on #173
@k3z0 can you take a look?

[2019-10-05 11:50] pgrawehr opened #176 "Setting the InputPullMode has no effect"
**Describe the bug**
Setting InputPullMode on a pin has no effect.

**To Reproduce**
Steps to reproduce the behavior:

[code]
After this code, the pin does not have the expected 3.3V (high) measurement. Using python to do the same works. After the pull-up mode has been set (using some other tool, such as python) the remainder of the program works as expected. Setting the input/output mode works.
N

[2019-10-05 16:35] yangsungyeol commented on #173
Tell me what you need
I will do it

[2019-10-06 13:30] pgrawehr commented on #176
I'm really confused about this. Setting the pull-up/down mode works when using python code, but all other methods seem to fail. WiringPi doesn't work, System.Device.Gpio doesn't, neither does running "gpio mode". Setting the mode to input/output does work, though, it just never sets the Up/down resistor mode.

[2019-10-06 18:23] pgrawehr commented on #176
See https://raspberrypi.stackexchange.com/questions/104312/setting-pull-up-pull-down-mode-doesnt-work-mostly.
It seems that support for the PI4 is missing from many libraries, including wiringpi and dotnet/iot, even though their latest releases are recent.

[2019-10-07 14:04] k3z0 commented on #173
Hi @yangsungyeol

Try changing the code in `OnSetup` function to use another overload of the `OledDisplaySsd1306 `constructor, the one that receives an instance of `II2CDevice`:

[code]

[2019-10-08 12:02] yangsungyeol commented on #173
It did not cause an error
I've modified the code as your instructions

It seems to work well, with no errors.
But still no message appears on my display.

I think the code is executed

Please tell me how to test more

![Ashampoo_Snap_2019 10 08_21h01m11s_001_](https://user-images.githubusercontent.com/5600019/66393956-cd850780-ea0e-11e9-9dc9-523b89c9d7a4.png)

[2019-10-08 15:57] yangsungyeol commented on #173
I will order another module and test it.
If you have a source that helps me, please provide

[2019-10-08 16:46] k3z0 commented on #173
Hi @yangsungyeol

For the moment we don't have an SSD1306 display to test the code. So it will be difficult for me to provide you some guidance. Nevertheless, that code was already tested and should work.

As soon as I can get a display I will run some tests in order to help you.

[2019-10-18 06:40] gorillazliuzhe opened #179 "How to use VS2019 to remotely debug the console on the Raspberry Pi"
i have a console for .net core 3.0.
but i don't know how to use VS2019 to remotely debug the console on the Raspberry Pi 3b
i need help .please

[2019-10-19 17:47] pgrawehr commented on #179
That's quite easy, actually, if you have the latest version of VS2019 installed.
Make sure SSH is enabled on the Pi (use `sudo raspi-config` and `interfacing options`). Now just start your process (i.e. `dotnet myApp.dll`).

Then, in Visual Studio, use Debug->Attach to process. Select SSH as transport, and enter "username@IP" in the address box (i.e. "pi@192.168.1.43"). Now a dialog opens where yo

[2019-10-20 03:12] gorillazliuzhe commented on #179
Thank you very much, but after executing dotnet myApp.dll, I can see this process in VS. But this console has already executed the last line of code. How can I restart the first line of code to start debugging. You can understand what I said
What does it mean?

[2019-10-20 10:03] pgrawehr commented on #179
There should be a way of starting the debugger together with your process, but I haven't found out how, yet. The easiest workaround is to (temporarily) introduce a `Console.ReadLine()` command as first step in your application, so that after starting it, it waits until you attach the debugger and then hit enter.

[2019-10-20 11:52] gorillazliuzhe commented on #179
ths,I tried to use Console.ReadLine() in the first line of the code; but still can't enter the program breakpoint, it's too bad.

[2019-10-20 15:07] dan1-de opened #180 "Using MCP23017 with I2C"
Hi,

i want to use multiple I2C Port Expanders of MCP23017.
How can i access the GPIO Ports of the MCP23017 over I2C ?

Can you please provide an example ?

Thanks
Best regards Daniel

[2019-10-20 20:11] pgrawehr commented on #180
Have you read the data sheet? It's available here, for instance: https://produktinfo.conrad.com/datenblaetter/650000-674999/651440-da-01-en-IC_I_O_EXP__MCP23017_E_SP_SPDIP_28_MCP.pdf

[2019-10-20 20:14] pgrawehr commented on #179
When Visual Studio enters debugging mode, do your breakpoints (set one right after the Console.ReadLine() line) get enabled? Or do you see an exclamation point on the red circle to the left of the line? If so, there's something wrong with your setup, i.e. you are not copying the PDB files to your Pi.

[2019-10-21 04:55] dan1-de commented on #180
Ýes and after some tries i get the output working with this code:

### UnoSquareI2CDevice myDevice = Pi.I2C.AddDevice(0x20);
### myDevice.WriteAddressByte(0x14, 0x01);

0x20 is the Adress of the MCP23017 and 0x14 the GPIOA output latch.
With 0x01 i set the first pin GPA0 to high.

The question is now: Can i register any interrupts/callbacks over I2C if one of the GPIO Pins change or should i detec

[2019-10-21 13:05] k3z0 commented on #180
Hi @dan1-de

In the case you are exposing, I think your only choice is to polling your device's addresses for those inputs buttons.

[2019-10-21 13:22] pgrawehr commented on #180
The MCP23017 has two interrupt pins. Connect these to separate GPIO pins on the Pi and you should be able to use these as interrupt inputs (at least you get an interrupt if any of the pins changes).

[2019-10-22 13:08] THEsnarkysparky opened #181 "how to initialize a valid IBootstrap implementation."
I have this in my main form

Pi.Init<BootstrapWiringPi>();

Using Raspian Buster.  Dotnet 4.61

But the result is.........

Unhandled Exception:
System.InvalidOperationException: You must first initialize Pi referencing a valid IBootstrap implementation.
  at Unosquare.RaspberryIO.Pi.ResolveDependency[T] () [0x00007] in <0ea343189e2a42e7a36ec6a98a8451de>:0
  at Unosquare.RaspberryIO.Pi.get_Gpio ()

[2019-10-22 13:13] SynergYFTW commented on #181
Pi.Init<BootstrapWiringPi>();

and add these using as well:
using Unosquare.RaspberryIO.Pi

[2019-10-22 13:14] SynergYFTW commented on #181
`Pi.Init<BootstrapWiringPi>();`

[2019-10-22 14:18] dan1-de commented on #180
Thank you for your answers.
I will use the interrupt pins.

Best regards

Daniel

[2019-10-22 14:18] #180 closed

[2019-10-23 07:33] gorillazliuzhe commented on #179
Thank you very much, I forgot the pdb file before. I can work now. Thank you again.

[2019-10-23 07:39] #179 closed

[2019-10-28 03:07] gorillazliuzhe commented on #144
Hello. Excuse me, do you have an example to display video stream in web ui. Thank you.

[2019-10-28 03:07] gorillazliuzhe commented on #144
Hello. Excuse me, do you have an example to display video stream in web ui. Thank you.

[2019-11-10 22:12] acarlonvs opened #184 "Documentation: Hardware PWM GPIO pins"
**Describe the bug**
Documentation states:
   "Note: Hardware PWM can be used only in GPIO13 and GPIO18"

**Expected behavior**
Can't GPIO 12/13/18/19 be used for hardware PWM?

[2019-11-11 15:19] k3z0 commented on #184
Hi @acarlonvs

Actually yes, you can use GPIO pins 12/13/18/19 for Hardware PWM.

It is only a outdated part of the documentation we must fix.

[2019-11-11 16:00] #184 closed

[2019-11-14 23:07] AlexanderJohnston commented on #181
I must be missing something. Everything else works fine but I can't call `Pi.Init<BootstrapWiringPi>();` without getting the following error:

[code]

Any idea what I'm doing wrong? I'm sure there must be a using statement needed for it but Visual Studio isn't suggesting one.

[2019-11-14 23:36] AlexanderJohnston commented on #181
As usual, I spend 24 hours trying to resolve it on my own only to find the answer about 30 minutes after posting to the Issue.

I needed to add the WiringPi package.

[2019-11-14 23:56] AlexanderJohnston commented on #181
So it looks like I needed a reference to the WiringPi package. Seems to be working for now.

[2019-11-18 10:01] HolyOne opened #186 "I need to analog read a pin, but it seems Read() only returns boolean"

[2019-11-18 14:29] geoperez opened #187 "Test empty"

[2019-11-18 14:35] k3z0 commented on #186
The Raspberry Pi’s GPIO pins are digital pins, so you can only set outputs to high or low, or read inputs as high or low. However, using an ADC chip (Analogue-to-Digital converter), you can read the value of analog input devices.

[Here](https://projects.raspberrypi.org/en/projects/physical-computing/14) you can find a sample project.

[2019-11-20 15:55] feeho opened #189 "There is no StartSoftPwm method in IGpioPin?"
var range = 100;
var pin = Pi.Gpio[BcmPin.Gpio24];
 pin.PinMode = GpioPinDriveMode.Output;
pin.StartSoftPwm(0, range);

I can not run the code and error message is: 'igpionpin' does not contain a definition of 'startsoftpwm'

[2019-11-20 16:26] k3z0 commented on #189
Hi @feeho

I think our documentation is outdated, we'll be working to fix it, sorry about it.

In order to the sample code to work you need to add the [wiringpi-dotnet](https://github.com/unosquare/wiringpi-dotnet/) [nuget](https://www.nuget.org/packages/Unosquare.wiringpi) package, which is an implementation of RaspberryPi abstractions.

You need to init RaspberryPi with wiringpi-dotnet and cast

[2019-11-20 16:27] geoperez commented on #189
@k3z0 can you update the documentation today, please?

[2019-11-21 02:24] feeho commented on #189
Thanks a lot

[2019-11-21 02:24] #189 closed

[2019-11-29 22:31] NeK000 opened #193 "dotnet core asp webapi throws System.UnauthorizedAccessException when attempting to access gpio"
I have developed a small Micro service for dht22 sensor. I am trying to initialize the                 Pi.Init<BootstrapWiringPi>();
as described in documentation and when I do that I am receiving back System.IO.IOException: Permission denied.

I have deployed the application using:
dotnet publish -r linux-arm -c Release

One of the endpoints is to activate the DHT sensor readings and as soon as I

[2019-11-29 22:33] NeK000 commented on #193
I also tried changing the permission of the folder but none of it seems to help

[2019-12-02 14:50] k3z0 commented on #193
Hi @NeK000

The WiringPi bootstrap process extracts some files (WiringPi library) to your local folder and gives it execution permissions. This is necessary in order to use WiringPi functionality.

Since `Pi.info` doesn't fully depend on external libraries, like WiringPi, it can be used without bootstrapping WiringPi.

Try to run your app using `sudo` in order to give permissions to the app to ext

[2019-12-02 19:33] NeK000 commented on #193
Hi @k3z0

Thank you for the quick reply :)

I will try it out tmrw and see how it goes

For now I will close the issue if the suggested fix doesnot fix it I will reopen it and write again

[2019-12-02 19:33] #193 closed

[2019-12-09 07:01] pgrawehr commented on #176
A fix for dotnet/iot has been merged now. I'll provide a wrapper implementation soon.

[2019-12-10 17:57] #186 closed

[2019-12-11 15:31] Zubini-1 commented on #181
I have a simalar issue:
            Pi.Init<BootstrapWiringPi>();
            var GPIO = Pi.Gpio[27];
It crashs at the second line with following error report:
System.InvalidOperationException: You need to load a valid assembly (WiringPi or PiGPIO).
  at Unosquare.RaspberryIO.Pi.ResolveDependency[T] () [0x00020] in <888f93d5325844e194afbf665f27ebc9>:0

This code has already worked, but now it does

[2019-12-12 18:57] k3z0 commented on #181
hi @Zubini-1

Could you please share your project or tell us more information about the versions of the packages you are using?

[2019-12-13 07:35] Zubini-1 commented on #181
Hi,

It runs with Mono on a Raspberry Pi 4b. On the Raspberry Pi is the latest WiringPi Version (2.52) installed.
In my C# Project i use UnoSquare.Raspberry.Abstractions v0.4.0, UnoSquare.Raspberry.IO v0.27.0, Unosquare.Swan v.2.4.3 and Unosquare.Swan.Lite v2.4.3, Unosquare.WiringPi v0.5.0. All installed with NuGet.

Here a bigger snippet of the code:
[code]
Here the specs of the raspberry Pi:
[co

[2019-12-16 18:25] k3z0 commented on #181
Hi @Zubini-1

Try to delete the references to the next nuget packages, since **UnoSquare.Raspberry.IO** and **Unosquare.WiringPi** already uses and download the versions they support.

- Unosquare.Swan
- Unosquare.Swan.Lite
- UnoSquare.Raspberry.Abstractions

[2019-12-18 07:29] Zubini-1 commented on #181
Hi,

thank you for your help. The problem was solved with a downgrade of following NuGet Packages:

- Unosquare.Raspberry.Abstractions v0.4.0 -> v0.3.1
- Unosquare.Raspberry.IO v0.27.0 -> v0.24.0
- Unosquare.Swan v2.4.3 -> v2.3.1
- Unosquare.SwanLite v2.4.3 -> v2.3.1
- Unosquare.WiringPi v0.5.0 -> v0.4.0

[2019-12-18 14:03] k3z0 commented on #181
Hi,

I think you need to remove the nuget packages I mention earlier, in that way you could use the last versions of **Unosquare.WiringPi** and **Unosquare.Raspberry.IO**.

**Unosquare.Raspberry.Abstractions** it's only necessary if you are going to implement a new library, actually **Unosquare.WiringPi** implements it.

I think the problem is caused because **Unosquare.Raspberry.IO** it's not com

[2019-12-20 03:18] paez9817 commented on #103
I have the same problem with C3M+, the new versions solve this problem? I work with 0.23 version

[2019-12-23 11:04] manijak opened #197 "Debugging/Troubleshooting SPI device communication"
I'm trying to use this library in order to communicate with a Waveshare ePaper display. They have drivers and demos for c and python but not for .net. I've tested the provided demos, the display works as it should (using c & python).

A fellow developer has already created a library in .net that runs his 2.7" ePaper display, and according to him, it does work. I have forked his repo in order to ge

[2019-12-26 14:39] k3z0 commented on #197
Hi @manijak,

Analyzing your code I realized that you are missing an actual implementation of RaspberryIO.Abstractions. You need to use something like [wiringpi-dotnet.
](https://github.com/unosquare/wiringpi-dotnet/)

Check the readme to see how to [install ](https://github.com/unosquare/raspberryio/#installation) and [use](https://github.com/unosquare/raspberryio/#usage) wiringpi-dotnet along wi

[2019-12-26 22:13] manijak commented on #197
Oh yes I have that. The repo you are looking at is only the library for the drivers, I have separate project for running the code, it is not part of that repo.

My app has the following launch code:

[code]

[2020-01-02 00:16] LMSSonos opened #198 "RFID/NFC PN532 module device.DetectCard() does not work"
**Describe the bug**
I have attached a PN532 module (https://www.elechouse.com/elechouse/index.php?main_page=product_info&cPath=90_93&products_id=2242) to the Raspberry Pi3 B+. The console application is netcore 3.1 with following code

[code]

I expected to get the "Card detected" output, but the the result is always `RFIDControllerMfrc522.Status.Error` so it does seem able to read the NFC. I'm n

[2020-01-02 16:58] k3z0 commented on #198
Hi @LMSSonos,

Well, I'm not sure if you can use a PN532 module with our MFRC522 module implementation since each card uses a different chip.

In order to test it, you need to ensure that your PN532 module is configured to use SPI as the communications protocol. Next, connect the _RSTO_ pin to the Raspberry's physical pin 15 (BCM22).

Try it out and let me know if it worked.

Thanks.

[2020-01-02 20:09] LMSSonos commented on #198
Hi @k3z0

Thanks for fast reply. The chip is configured for SPI (see screenshot). I have also attached the RSTO to pin 15. `nfc-poll` still works, sample code from above does not. I tried with `Pi.Gpio[x]` (x tried 19 to 25).

![nfc](https://user-images.githubusercontent.com/19758451/71688692-a1c0b600-2da0-11ea-9c62-6209b209ea07.png)

[2020-01-03 13:46] k3z0 commented on #198
Well, maybe the implementation does not support PN532 chip since it supposed to be used with RC522 chips.

[2020-01-03 19:52] LMSSonos commented on #198
Thank you. I did some research and found netcore code for the PN532 on github, but looks much more complex than the RC522 implementation made in this library.

So I will order an RC522 chip. With that I can read the contents of a MIFARE Ultralight NTAG213?

Again, thanks for all your help and time!

[2020-01-03 22:04] k3z0 commented on #198
You need to read the [NTAG213 datasheet](https://www.nxp.com/docs/en/data-sheet/NTAG213_215_216.pdf) in order to know if it is compatible or how to use it with the RC522 chip.

[2020-01-08 21:29] LMSSonos commented on #198
@k3z0 I have no a RC522 reader. When I use the playground app, it detects the `MIFARE Ultralight C` tag with the card UID. If I use read card or read sector from the playground, I get following output

[code]

In https://www.nxp.com/docs/en/data-sheet/MFRC522.pdf I found the following information

But the specification also notes in the intro that 522 is compatile with MIFARE Ultralight. So I remo

[2020-01-08 22:02] k3z0 commented on #198
@LMSSonos that sounds great, we are glad that you can contribute with this project.

[2020-01-16 11:27] scrumjunkie opened #199 "Unosquare GPIO pins not working with raspberry pi 4"
**Describe the bug**
Hi, I'm using unosquare to work with ultransonic hc-sr04 sensor. I've got it working with the raspberry 2 model b, but when I try exactly the same with raspberry pi model 4b it doesn't work. On the raspberry pi 4 the sensors always return -1. I've checked multiple times if the sensors were connected correctly. I've tested the sensors with some python code and with that code th

[2020-01-17 08:13] LMSSonos commented on #198
Pull request created #200

[2020-01-17 08:13] #198 closed

[2020-01-20 13:41] k3z0 commented on #199
Hi @scrumjunkie

Unfortunately at this moment, we don't have a Raspberry 4 to perform tests. Maybe the problem is generated by the underlying library. Could you please try [updating WiringPi](http://wiringpi.com/wiringpi-updated-to-2-52-for-the-raspberry-pi-4b/) maybe this could help to solve the problem.

[2020-01-21 00:36] NICKHAMAN opened #202 "I2C"
I can't find a method to set the I2C bus ID.  I'm using a compute module and both i2c-0 and i2c-1 are available.

[2020-01-22 14:13] k3z0 commented on #202
Hi @NICKHAMAN

WiringPi does not allow to, explicitly, select an I2C bus. According to the source code, it uses **_i2c-1_** for "_everything from the B revision 2 to the B+, the Pi v2, v3, zero and CM's_".

[2020-01-24 07:09] pgrawehr commented on #199
This may be a duplicate of #176

[2020-01-28 00:32] logicethos commented on #62
Same issue here.
I tried copying the .so file from Raspbian (/usr/lib/libwiringPi.so.2.50)
but now I get this:
`WiringPi does only support a simple interrupt callback that has no parameters.`

[2020-01-28 00:52] thnk2wn opened #203 "Support for running in a container?"
**Is your feature request related to a problem? Please describe.**
Currently it appears difficult to use raspberryio in a container (or at least not obvious how to).

I see this error

<pre>
wiringPiSetup: Unable to open /dev/mem or /dev/gpiomem: No such file or directory.
  Aborting your program because if it can not access the GPIO
  hardware then it most certianly won't work
  Try running with

[2020-01-28 21:07] logicethos commented on #203
Does this help? https://stackoverflow.com/questions/30059784/docker-access-to-raspberry-pi-gpio-pins

[2020-01-29 11:42] logicethos opened #204 "WiringPi does only support a simple interrupt callback that has no parameters"
**Describe the bug**

After I do
`Pi.Init<BootstrapWiringPi>(); `
I get this error
`WiringPi does only support a simple interrupt callback that has no parameters.`

**To Reproduce**
I copied /usr/lib/libwiringPi.so.2.50 to my app directory.
I had to do this to overcome this issue https://github.com/unosquare/raspberryio/issues/62

**Devices**
Pi 2 Model B
Raspbian GNU/Linux 9.8 (stretch)
Unosquare

[2020-01-30 16:41] k3z0 commented on #204
Hi @logicethos ,

Actually, that message is not an error, That message is indicating that WiringPi does not support a callback with parameters as interrupt callback, you must call the overload with the Action that does not take any parameter: `RegisterInterruptCallback(EdgeDetection edgeDetection, Action callback)`.

[2020-01-30 18:16] logicethos commented on #204
Ah, understood. Thank you.

[2020-01-30 18:16] #204 closed

[2020-02-14 07:53] #176 closed

[2020-02-17 03:49] thnk2wn commented on #203
Yeah, thanks.

[2020-02-17 03:49] #203 closed

[2020-02-20 12:43] Int32Overflow opened #207 "Application crash when using debugger and GPIO Interrupt"
**Describe the bug**
If you use a GPIO interrupt in conjunction with the .Net Core SSH Debugger, the application will exit without error message on the first interrupt.

Is this behaviour known?

[2020-02-21 02:30] thnk2wn opened #208 "CaptureImageJpeg No Such File or Directory"
**Describe the bug**
Using `Pi.Init<BootstrapWiringPi>();` followed by `byte[] imageBytes = Pi.Camera.CaptureImageJpeg(1024, 768);` and I get the following error:

<pre>
02:14:36 ERR] Error taking picture
System.ComponentModel.Win32Exception (2): No such file or directory
   at System.Diagnostics.Process.ForkAndExecProcess(String filename, String[] argv, String[] envp, String cwd, Boolean redirect

[2020-02-21 15:12] thnk2wn commented on #208
I'm assuming I need to adjust the creation of my container with potential volume mounts or Dockerfile steps like:

[code]

Not sure what all dependencies this library has for the camera in terms of file / directory access, permissions etc. to account for when running containerized but I can look at the source. From the error though it looks like it's just shelling out to another process rather tha

[2020-02-25 02:19] thnk2wn commented on #208
I was able to make it work by adding `ENV PATH="/opt/vc/bin:${PATH}"` to the `Dockerfile` and adding `-v /opt/vc/bin:/opt/vc/bin` to `docker run`.

The complete docker run looks like below.

[code]

I was assuming the camera module was taking more of a library approach similar to https://github.com/techyian/MMALSharp but as it's shelling to `raspistill` I can probably achieve similar results doing

[2020-02-25 02:19] #208 closed

[2020-02-29 10:26] #103 closed

[2020-02-29 10:26] #181 closed

[2020-03-03 02:46] #197 closed

[2020-03-29 15:42] #202 closed

[2020-03-31 03:09] geoperez commented on #207
Hi @k3z0 did you get a chance to check this issue?

[2020-03-31 03:16] #94 closed

[2020-03-31 07:37] #199 closed

[2020-04-02 00:07] pegouk opened #209 "Pi.Camera.CaptureImage(settings) returns empty array when running from container"
**Describe the bug**
Using the code below, Pi.Camera.CaptureImage(settings) returns an empty array when run from a container. No errors are generated.
When run from command line `dotnet TestApp.dll`, runs successfully. Returns an array of length 10510810.

`
Pi.Init<BootstrapWiringPi>();
camSettings = new Unosquare.RaspberryIO.Camera.CameraStillSettings
{
   CaptureExposure = Unosquare.RaspberryIO

[2020-04-02 00:57] geoperez commented on #209
This method is just a wrapper over `raspistill`, are you able to run this command from a container?

[2020-04-15 12:56] pegouk commented on #209
Yes, I can run raspistill with no problems

[2020-04-23 03:48] #173 closed

[2020-05-03 21:32] crazybg321 commented on #209
@pegouk this is not a bug in the library. I had the same issue. Check this answer:

https://github.com/unosquare/raspberryio/issues/208

In addition to what he did, you should add the `/opt/vc/lib/` to the library path of your container and then it will work. Basically include this in your `Dockerfile`: `ENV LD_LIBRARY_PATH="/opt/vc/lib:${LD_LIBRARY_PATH}"`

@geoperez would it be an option for som

[2020-05-04 08:42] pegouk commented on #209
Thanks, that solved it. I agree that it is quite tricky to figure out the Docker containers. I tried a number of things but not this one. Would be great to have some sort of manual for this.

[2020-05-04 08:42] #209 closed

[2020-05-15 10:45] CobraCalle opened #210 "Adhoc video processing"
Hello,

I'm trying to use this library to access the pi`s camera and want to adoc process the frame. But reagardless of the frame size the array the stream deliveres is always only 2048 bytes... what do I have to do to get the full frames (as bitmap).

thanks

Carl

[2020-06-06 07:40] #207 closed

[2020-07-12 18:18] MatthewSteeples opened #214 "A hardware exception occurred. Error Code: 2 (when attempting to use LedStripAPA102C)"
I have a NETCORE 2 app that I'm attempting to run under Mono 6.10 on a Raspberry Pi Zero W. I'm using version 0.27 of `Unosquare.Raspberry.IO`, 0.5 of `Unosquare.RaspberryIO.Peripherals` and 0.5 of `Unosquare.WiringPi` I have the following code:

    Pi.Init<BootstrapWiringPi>();
    Console.WriteLine(Pi.Info.ToString());
    var ledStrip = new LedStripAPA102C(4 * 8, 1, 1000000);

The init appears

[2020-07-23 23:54] chris5347 opened #215 "Need Simple RFID read help"
I have created a simple rfid rc522 reader/writer.
The reader can read the uid correctly, but how can i tell which rfid reader the input comes from?
For example if i use 2 rfid readers, how can i distinguish between i guess the controllers?

Read Data method
`
                var device = new RFIDControllerMfrc522(Pi.Spi.Channel0, 500000, Pi.Gpio[22]);

                while (!ForceStop)

[2020-07-25 03:32] #210 closed

[2020-07-26 23:43] chris5347 commented on #215
there has to be a way to distinguish between multiple RFID readers - is there?

[2020-08-26 10:18] DamVinho opened #216 "Video preview in picturebox"
Hi !
First, thanks for this library.

I'm working on a winform and I want to preview the video in a picturebox. How can I do this?

Thanks for helping!

[2020-09-19 14:36] #214 closed

[2020-10-04 02:19] #215 closed

[2020-10-13 11:19] JanZumdick opened #217 "sudo nuget install Unosquare.Raspberry.IO dont work anymore?"
sudo nuget install Unosquare.Raspberry.IO dont work anymore?
"An error occurred while retrieving package metadata for 'Unosquare.Raspberry.IO' from source 'nuget.org'.

 Index was outside the bounds of the array.

[2020-10-13 11:40] JanZumdick commented on #217
![fehler](https://user-images.githubusercontent.com/58948686/95856036-b2538300-0d59-11eb-86b3-34993701d85a.png)

[2020-10-13 13:50] geoperez commented on #217
It looks like an issue with the nuget client. Can you try on another computer?

[2020-10-13 13:53] JanZumdick commented on #217
i did.

On Raspberry it dont work (Testet on 2 Raspberry Pi 4 [kali and raspbian])
On my Windows-Computer, it work fine (Visual Studio 2019 Ent).

[2020-10-13 14:30] JanZumdick commented on #217
![sameerror](https://user-images.githubusercontent.com/58948686/95874642-6280b600-0d71-11eb-9c0c-e4f1b4867ac6.png)
Still the same

[2020-10-14 11:13] JanZumdick opened #218 "Interrupts and Callbacks"
Install Unosquare over Visual Studio 2019:

using Unosquare.RaspberryIO; - works
using Unosquare.RaspberryIO.Camera = works
using Unosquare.RaspberryIO.Gpio; = dont work.

in Code:
Pi.Camera = works
Pi.Gpio = no error
Pi.Gpio.Pin24; < Dont Work! Not Found.

Register an Interrupt Callback example:

using System;
using Unosquare.RaspberryIO;
using Unosquare.RaspberryIO.Gpio;

class Program
{
  // De

[2020-10-14 11:18] JanZumdick commented on #218
Pi.Gpio[BcmPin.Gpio17]; -> dont work;
Pi.Gpio[24]; -> Works.

i think your really need a good wiki or documentation.

[2020-10-15 11:14] hvilppu opened #219 "Unosquare.RaspberryIO with 4-20 ma current loop sensor board"
Support for: 4-20 ma current loop sensor board needed

Is it possible to read 4-20 ma current loop sensor board already with Unosquare.RaspberryIO?
If it is an example would be nice on Wiki.
If not.. support would be more than welcome

[2020-10-16 14:40] JanZumdick commented on #216
You can use the normal Preview
try this:
  Process.Start("/usr/bin/raspistill", "-t 0");

[2020-10-18 08:39] DanieleNeo opened #220 "Error tryng to comunicate with I2C device"
**Describe the bug**
I don't know if it's a bug, surely I need some kind of support. I'm writing C# code for using INA226 device (voltage and current sensor). The sensor is correctly initialized and seen by my single board computer

[code]

The code I wrote (it's a draft for now) is this:
[code]

I was inspired by this project
https://github.com/MarioAriasGa/raspberry-pi-ina226

The problem is tha

[2020-10-18 14:39] DanieleNeo commented on #220
I'm starting to think that OrangePI is not supported by Unosquare libraries. I have tried to read values from a DHT22 sensor and I'have no data, so I tried to read a simple high value on a GPIO pin, with no luck. The GPIO I tried to read was BCM 20

[code]
Is it possible to extend compatibility also to Orange PI PC hardware? Using C and python scripts on this board I'm able to read DS18B20, DHT22,

[2020-10-19 08:17] DanieleNeo commented on #220
The Orange PI hardware is quite similar to the Raspberry, I use it often because it is cheaper and has some hardware features (such as integrated microphone) useful for particular usage scenarios (for example to build radio gateways with telemetry support), without the need to use third party usb sound cards, which often introduce an element of weakness on system stability.

Having the hardware I

[2020-10-19 23:05] DanieleNeo commented on #220
I tried with Raspberry, and it's working. So, as I supposed, the problem is because Unosquare is not compatible with Orange PI hardware. So now I renew my request: it could be possible to extend support also to Orange PI hardware? Probably only little customizations are required, after all ina226.c is working and it's using wiringPiI2C...

Thanks in advance,
D.

[2020-10-21 08:54] DanieleNeo commented on #220
Dear @geoperez and @k3z0, if I'm here obviously I'm an admirer of your library, that I used before in my personal projects. I'm sure now, after doing several tests, that the problem is unsupported hardware issue. The ambiguous thing, which made me waste some time, is that on OrangePI hardware I'm able to see Pi.Gpio, but when I try to read gpio values I got always False (no warning or exception),

[2020-10-21 13:54] geoperez commented on #220
Hi DanieleNeo, I like your idea to provide support to OrangePI but we are busy with other projects and we have no spare time to deliver a solution in the near future.

@k3z0 do you think you can help?

[2020-10-23 15:53] DanieleNeo commented on #220
Thank you @geoperez for you reply, I understand your motives very well. I hope that @k3z0 can help us in this activity, unfortunately I don't have the necessary skills, otherwise I would try to do something myself. Is there a point in the code where i can look?

[2020-10-23 23:08] wolfgangmauer opened #221 "Enable mono --aot=full"
Is it possible to provide the assemblies with mono --aot=full, or at least to make them compilable?

Mono Ahead of Time compiler - compiling assembly /root/raspberryio/Unosquare.RaspberryIO.Peripherals.dll
AOTID 0D93B0A0-E2DA-0302-C074-C083F8F37307
Could not load signature of Unosquare.RaspberryIO.Peripherals.BitmapBuffer:.ctor due to: Could not load file or assembly 'System.Drawing.Common, Versio

[2020-10-25 11:48] callmenoob opened #222 "Unable to load shared library 'libwiringPi.so.2.52"
Hi, im using Raspberry PI 4B Ubuntu 19.10 (arm64). When I'm trying to launch bootstrap procces I'm getting error
` Unable to load shared library 'libwiringPi.so.2.52' or one of its dependencies.`
How can i get this dll? I have tried this guide
http://wiringpi.com/wiringpi-updated-to-2-52-for-the-raspberry-pi-4b/
but this package is not compateble with arm64, is there a workaround for this problem?

[2020-10-25 14:07] wolfgangmauer commented on #222
I just have a Pi3B+...

What "ls" shown? I should look something like this

pi@raspberrypi:/tmp $ **ls -l /usr/lib/libwiringPi***
lrwxrwxrwx 1 root root    19 Okt 25 15:00 /usr/lib/libwiringPi.so -> libwiringPi.so.2.52
-rwxr-xr-x 1 root root 69808 Jun 23  2019 /usr/lib/libwiringPi.so.2.52

[2020-10-26 11:15] wolfgangmauer opened #223 "[FAQ] wiringpi vs pigpio"
I like to start using Unosquare.RaspberryIO
Which "Bootstrap" should I use?

I need software UART(5x), multiple SPI devices(6x), Servo, PWM, ADC ....

Thanks in advance

[2020-11-05 10:54] captainTvZx opened #224 "Could not load file or assembly 'Unosquare.Swan.Lite'"
`System.TypeLoadException: Could not load type of field 'Unosquare.RaspberryIO.Pi:<Info>k__BackingField' (3) due to: Could not load file or assembly 'Unosquare.Swan.Lite, Version=1.3.1.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies.
  at System.Windows.Forms.Control.OnClick (System.EventArgs e) [0x00019] in <47c199caaa3c4c6c9c48a7c6ebb3fd29>:0
  at System.Windows.Forms.Button.

[2020-11-06 10:37] evericat opened #225 "Issues with an executable (C#) and sudo"
Hi, first of all I am using Raspberry Pi 4 with Raspbian.

I've made an executable in C # (Mono project) that uses the "unosquare/raspberryio" library for GPIO, SPI and I2C communication.

If I run it as a **pi user**: _mono ./program.exe_ -> Everything works fine.
If I run it as **sudo**: _sudo mono ./program.exe_ -> It doesn't work.

It's weird because I have another SD with Raspbian that does w

[2020-11-09 12:00] evericat commented on #225
I can add more info:

Same raspbian image with same executable:

1. Running from Raspberry PI 4B: _sudo mono ./program.exe_ -> It doesn't not work.
2. Running from Raspberry PI 3B: _sudo mono ./program.exe_ -> Everything works OK.

So it seems a problem related with the hardware of Raspi 4B that executing a mono/unosquare/raspberryio program with mono does not work, and it works perfectly with Ras

[2020-11-10 14:44] IronSean opened #226 "wiringPiISR: Can't find gpio program"
**Describe the bug**
Hi, I'm working on an implementation with raspberryio and I'm getting this error when running:
`wiringPiISR: Can't find gpio program`

I'm using `Pi.Init<BootstrapWiringPi>();` in my program.cs, and I've got the Unosquare.WiringPi v0.51 package installed too.

I'm also building and running on a docker container, I'm not sure if that is related.

**To Reproduce**
Steps to repro

[2020-11-10 15:18] IronSean commented on #226
I've ensured I'm on the latest Unosquare.WiringPi v0.51, which should support the Pi 4b.

I also tested Unosquare.PiGpio because WiringPi is apparently deprecated by it's maintainer. Unfortunately, none of the GPIO methods are implemented yet on the PiGpio implementation.

I've not yet tried running the app natively on the Pi, as getting dotnet core running in docker was easier than installing it

[2020-11-10 15:35] IronSean commented on #226
I'm not experiencing the error when run natively instead of within Docker, so I think the real question is "How do we forward the right ports/files/etc. to allow Unosquare.WiringPi to run in a docker container and register gpio interrupts?"

[2020-11-11 21:29] Crashdummyy opened #227 "Waveshare PN532. Cant read UID"
**Describe the bug**
I want to read the UID of some cards ( desfires, too ).
I bought [this Module](https://www.waveshare.com/wiki/PN532_NFC_HAT#Raspberry_Pi_examples).
The module is a pn532 and as of #198 i suspected it could read the card

**To Reproduce**
[code]
No Output is printed to my console.
I tried various other pins or frequencies...
However the [Demo Codes](https://www.waveshare.com/w/

[2020-11-13 15:31] evericat opened #228 "SPI Channel0 & Channel1 clarification"
Hello,

I was using correctly the two channels available on Unosquare/RaspberryIO on a Rasp PI 4B:

  Channel0 to use SPI0 bus and CE0
  Channel1 to use SPI1 bus and CE0 (activating "dtoverlay=spi1-1cs" as it is said in the RaspberryIO github homepage)

But today I have updated "unosquare/raspberryio" and "unosquare/wiringpi-dotnet" and recompile them for myself (now the
 libwiringPi.so.**2.52** a

[2020-11-15 15:19] buda2570 commented on #34
Hi . I am using such a code, I have Pin noise problem and only button is fired, any solution?

[2020-11-16 09:56] PsBernie opened #229 "Documentation: "Pin27""
The documentation shows following line of code:
Pi.Gpio.Pin27.PinMode = GpioPinDriveMode.Input;

This line fails during compilation with
Error	CS1061	'IGpioController' does not contain a definition for 'Pin27' and no accessible extension method 'Pin27' accepting a first argument of type 'IGpioController' could be found (are you missing a using directive or an assembly reference?)

After replacing

[2020-11-17 16:38] IronSean commented on #226
To follow up, I was also running with `--privileged` set, and I believe I tried mounting the `/sys` folder as a volume.

But also to follow up, I've moved on to solving this using a native C application to handle my GPIO interactions, and am no longer actively working on testing or debugging this issue. As such I may not be able to test suggestions in the future. I'll leave it up to the maintainer

[2020-11-20 11:46] PsBernie opened #230 ""StartSoftPwm" fails on second call"
Based on the code described in the documentation, I run

                const int range = 100;
                GpioPin pin = (GpioPin)Pi.Gpio[BcmPin.Gpio18];
                pin.PinMode = GpioPinDriveMode.Output;
                pin.StartSoftPwm(0, range);

                //while (true)
                //{
                for (int x = 0; x <= 100; x++)
                {
                    pin.S

[2020-12-02 17:50] DevilK89 opened #231 "How to Use ADS1115 I2C Analog-to-Digital Converter devices"
Good afternoon,

I would like to know if you have any example of communication with the ADS1115 card, as I am not able to communicate with the card, currently it appears the error id 72 could not be registered with the I2C bus.

Thank you for now.

[2020-12-17 11:14] multisys commented on #231
Hi, I am having the same problem.

[2020-12-17 11:33] multisys commented on #231
**DevilK89** please put your code.

[2020-12-17 22:27] mfertala commented on #222
Hi! I experience the same error on RasPi 4B Ubuntu 20.04.1 (arm64). When code comes to:
`Pi.Init<BootstrapWiringPi>();`
I get error:
`Unhandled exception. System.DllNotFoundException: Unable to load shared library 'libwiringPi.so.2.52' or one of its dependencies. In order to help diagnose loading problems, consider setting the LD_DEBUG environment variable: liblibwiringPi.so.2.52: cannot open shar

[2020-12-20 13:51] #217 closed

[2020-12-25 09:55] #218 closed

[2020-12-25 09:55] #219 closed

[2020-12-25 09:55] #216 closed

[2020-12-28 03:27] DerpyDoom opened #232 "Support the I2C HD44780 (1604 LC-Display)"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I'd love to have support for the I2C LCD 1604 Display. (Controller HD44780)

**Describe alternatives you've considered**
None

**Additional context**
None (at this moment)

[2020-12-28 03:32] DerpyDoom commented on #231
This is the way I'm using the ADS1115:

[code]

[2021-01-03 14:02] #223 closed

[2021-01-03 14:02] #221 closed

[2021-01-03 14:02] #220 closed

[2021-01-09 07:03] johnstaveley opened #233 "The type or namespace name 'Gpio' does not exist in the namespace 'Unosquare.RaspberryIO' (are you missing an assembly reference?)"
I am trying to write the following code:
using Unosquare.RaspberryIO;
using Unosquare.RaspberryIO.Gpio;

It fails on the second line with the error message:

The type or namespace name 'Gpio' does not exist in the namespace 'Unosquare.RaspberryIO' (are you missing an assembly reference?)

I have added the following packages:

    <PackageReference Include="System.Device.Gpio" Version="1.3.0" />

[2021-01-16 12:08] #224 closed

[2021-01-17 21:51] #225 closed

[2021-01-23 17:50] #227 closed

[2021-01-23 17:50] #228 closed

[2021-01-23 17:50] #229 closed

[2021-01-25 05:49] #226 closed

[2021-02-10 09:14] NickAustin82 opened #234 "Help required with Pi.Camera.OpenVideoStream."
I have been tasked to write a program that will run on a raspberry pi, display the video feed from the pi camera (ideally on a WinForms panel – I am using Mono on the pi), and overlay shapes on top (namely an artificial horizon that will be calculated from the readings of a 3D motion click sensor attached to the GPIO pins.

Since most of the programming I do these days is with .NET, I thought that

[2021-02-10 20:56] sherif-elmetainy commented on #226
In had this problem and solved it by running:
`sudo apt install wiringpi`

I am using raspbian.

[2021-02-15 15:00] geoperez commented on #234
We are looking for a new maintainer, apply at https://adoptoposs.org/p/9f5b74b9-04f2-42b6-891f-c5294c9ef1c5

[2021-02-15 15:00] geoperez commented on #233
We are looking for a new maintainer, apply at https://adoptoposs.org/p/9f5b74b9-04f2-42b6-891f-c5294c9ef1c5

[2021-02-15 15:00] geoperez commented on #232
We are looking for a new maintainer, apply at https://adoptoposs.org/p/9f5b74b9-04f2-42b6-891f-c5294c9ef1c5

[2021-02-15 15:00] geoperez commented on #231
We are looking for a new maintainer, apply at https://adoptoposs.org/p/9f5b74b9-04f2-42b6-891f-c5294c9ef1c5

[2021-02-15 15:00] geoperez commented on #230
We are looking for a new maintainer, apply at https://adoptoposs.org/p/9f5b74b9-04f2-42b6-891f-c5294c9ef1c5

[2021-02-15 15:01] geoperez commented on #222
We are looking for a new maintainer, apply at https://adoptoposs.org/p/9f5b74b9-04f2-42b6-891f-c5294c9ef1c5

[2021-03-01 01:03] canadrian72 commented on #230
I also encounter the same issue. StartSoftPwm fails on second call for me as well. Hopefully someone can clairfy how to mitigate this issue.

[2021-03-25 11:51] RickyYChan commented on #230
I'm a noob to PWM or this kind of things(signal or sth), but i do drive my servo use pwm like this:
[code]
in this slice of code, apparently, what i did is:
1. set mode bcm
2. setup pin
3. start with 0
4. rotate from 0° to 180°( duty cycle 2.5% - 12.5%)

in the C# code, i think this is a correct way(but i havent tested yet)
[code]
so if i wanna translate my python code to C# code, i still have 2 t

[2021-03-25 12:10] RickyYChan commented on #230
Unfortunately, I cannot use this package, so i decided to use Python to drive my servo. :)

[2021-05-17 08:03] dan1-de opened #236 "Make I2C Bus port selectable"
I can't find a method to set the I2C bus ID.
I have multiple I2C interfaces on my raspberry for different applications on one raspberry and i want to select a different interface for each application.
Is it possible to add a method to select the I2C bus on Initialisation.

Interface Name looks like this: "/dev/i2c-0" or "/dev/i2c-1"

[2021-06-16 23:35] #234 closed

[2021-06-16 23:35] #233 closed

[2021-06-16 23:35] #232 closed

[2021-06-16 23:35] #222 closed

[2021-06-16 23:35] #230 closed

[2021-06-16 23:35] #231 closed

[2021-08-23 15:42] Scantraxxx opened #237 "Raw Values of ADS1015 via I2C wrong scaling"
I connected an ADS1015 to my Raspberry Pi 4B like this:
![image](https://user-images.githubusercontent.com/89404164/130471828-c0a5fc4d-e378-45d4-9904-dc911ff7e204.png)
But VDD is 5 V in this case.

I got a stable connection via I2C and can read and write to the registers.

I am trying to use the Unosquare Libs like this:
[code]
The problem is that _a.ReadChannel(1)_ gives back totally wrong values

[2021-08-24 07:15] artemisx07 opened #238 "Is there a way to set SPI mode?"
I thank 'unosquare raspberry io'.
This is the package I used to program my raspberry pi for the first time, and I am still studying hard.
Recently, I can't change the 'SPI mode', so I can't go on any further.

[It is the same problem as below.](https://www.raspberrypi.org/forums/viewtopic.php?t=188787)

///////////////////////////////////////////////////////////////////////////////////////////////

[2021-09-03 02:48] #236 closed

[2021-09-04 14:44] houjie26782960 opened #239 "A question about softpwm"
Hello, my English is not good, so I'm using online translation. I hope I can express it clearly.
I'm using .NET Core and Unosquare.RaspberryIO with my Raspberry 4b,
My Basic Code is :
 Pi.Init< BootstrapWiringPi >();
 var red = (GpioPin)Pi.Gpio[18];
red.PinMode = Unosquare.RaspberryIO.Abstractions.GpioPinDriveMode.Output;
red.StartSoftPwm(0, 100);
red.SoftPwmValue = Convert.ToInt32(MyValue);

I ho

[2021-10-17 12:59] Wavesolid opened #240 "Publishing to linux-arm"
right now i'm using VsCode in Windows 10 and i want to code my Raspi program through my Windows so in the end i need to publish and transfer the files by using SSH. But somehow when i tried to run `dotnet publish -R linux-arm` it gaves me a lot of error. What should i do? Does this library only support RaspiOS? Thank you in advance.

[2021-10-17 22:33] #240 closed, assigned to nobody

[2021-11-22 15:37] Nickellukas2001 opened #241 ""The DLL" libc ": The specified module was not found."
Hey, so i recently tried to set up unosquare to my c# project in Visual Studio. I have just started with programming so i dont know much and really need help here.

1. Is there some kind of a "Dictionary" whre i can find all the commands and how to use them? Would be great.
2. When I started the Program first it said: "You must first initialize Pi referencing a valid IBootstrap implementation."So

[2021-11-24 17:37] Nickellukas2001 commented on #241
@geoperez i saw that you are a member of @Unosquare ,do you maybe have an idea?

[2021-11-24 17:43] geoperez commented on #241
Hi, the library will only work in Linux since it's a wrapper around the WiringPi lib. You need to create a console app and run it directly in your raspberry PI.

[2021-11-24 17:46] Nickellukas2001 commented on #241
oh okay, so i just write my code and then create the app and run it with mono on the raspberry PI? And aboout the functions of Unosquare: is there some kind of "Dictionary" where i can find alöl the commands and how to use them?

[2021-11-25 17:47] Nickellukas2001 commented on #241
@geoperez does this mean the lib is only for console Applications and cant be used in Windows forms applications run with mono on the pi?

[2021-11-28 12:59] geoperez commented on #241
Windows Forms are not available in Mono. You can use GTK# or similar UI frameworks.

[2021-11-28 13:36] Nickellukas2001 commented on #241
Hi, thanks for your help. I already found an different solution. Now I'm using system.device.gpio as a library and it works perfect. But thanks again for the help.

[2021-11-28 13:37] #241 closed

[2022-02-17 14:03] adgbu opened #242 "Switch to libcamera"
Great work with this .NET library for Raspberry Pi!
Unfortunately the camera implementation is now obsolete.

The standard way to access the camera on Raspberry Pi now is `libcamera`. `raspistill` and `raspivid` have been deprecated for a while and are now obsolete. MMAL, which they rely on, is apparently not working on 64-bit Raspberry Pi OS. Starting with Bullseye there is **only** the libcamera

[2022-04-28 01:46] #237 closed

[2022-04-28 01:46] #238 closed

[2022-04-28 01:46] #239 closed

[2022-05-30 15:58] PeterHric commented on #226
Sherif, did you install it on you Pi, or inside the container ? Because the issue deals with Docker container, I believe..

[2022-05-31 21:45] sherif-elmetainy commented on #226
Oh, I missed the part about docker when I read and replied to this issue. My apologies. My case was on a physical raspberry.